[2019-10-07 06:36] lacymorrow opened #1 "Stay alwaysOnTop even above fullscreen mode"
Windows attempts to hide overlays on fullscreen mode, requiring windowed fullscreen to work with CrossOver.

[2019-10-09 19:57] marcmascarell opened #2 "Autocenter option"
If you move the crosshair u fucked it up. There should be an option to center it.

Another cool option would be to save different options for example:

- Medal Of Honor (x: 100, y: 200, color: red, type: cross, ...)

[2019-10-09 19:57] marcmascarell commented on #1
This is indeed a big issue for some apps... Give this a look https://github.com/hiitiger/gelectron

[2019-10-09 21:18] lacymorrow commented on #2
Great ideas! I'll add an option to center the crosshair.

Game-specific options would be very cool, but I'm not sure if that would be within the scope of the project. Maybe I could offer 3 "save profiles" to choose from.

[2019-10-09 21:26] lacymorrow commented on #1
gelectron looks very cool and very similar to what I'm designing, although I'm attempting to make the 'injection' invisible on load and keep this app cross-platform

[2019-10-09 21:48] marcmascarell commented on #2
Yes, in the end the profiles concept is what I was asking :)

El mié., 9 oct. 2019 23:18, Lacy Morrow <notifications@github.com> escribió:

[2019-10-10 18:08] lacymorrow opened #5 "Cross-platform issues"
ElementaryOS:

- Unable to drag (`CTRL`+`SHIFT`+Arrows works)
- Unable to hide the settings and rest of the application
- Toggle lock seems to make the crosshair opacity 100%
- Resizing the crosshair a bunch leaves behind artifacts in the settings window:
<img width="122" alt="Screen Shot 2019-10-10 at 11 03 56 AM" src="https://user-images.githubusercontent.com/1311301/66594541-332bdd80-eb4e-11e9-

[2019-10-10 18:09] lacymorrow commented on #5
Ubuntu:
- Installs but will not launch

[2019-10-10 18:10] lacymorrow commented on #5
Windows:

 - Fullscreen apps take precedence, requires running other apps in windowed-fullscreen mode.

[2019-10-10 20:37] lacymorrow commented on #5
Fix for Linux transparency issues:

[code]

[2019-10-19 07:56] lacymorrow commented on #2
Added in (stable) 0.2.8:

[2019-10-19 07:56] #2 closed

[2019-10-24 04:51] Smixite opened #6 "Installation Guide?"
Any help with installation?

[2019-10-24 20:12] lacymorrow commented on #6
I'm adding an `Install` section to make things more clear but could use some feedback 🎉

If you have time please take a few minutes to install and test out the process and app!

[2019-10-24 21:22] #6 closed

[2019-11-02 19:14] lacymorrow opened #7 "Window doesn't stay on top in v2.11 - 2.12"
This is especially apparent when gaming, initially the app launches on top but after locking the app and clicking elsewhere to lose focus, the app no longer stays on top.

[2019-11-02 19:14] lacymorrow commented on #7
This seems to be directly related to the Electron v7 update.

[2019-12-02 21:02] lacymorrow opened #8 "Error after waking up from suspended state."
Windows 10:
[code]

[2019-12-06 03:06] lacymorrow opened #9 "Keyboard shortcut conflicts"
- `CTRL``SHIFT``T`: Chrome reopen last-closed tab (Windows, used to open the "About" window)

[2019-12-08 06:35] lacymorrow commented on #8
Related to Electron Updater most likely: https://github.com/electron-userland/electron-builder/issues/2398

[2019-12-08 06:38] #9 closed

[2020-02-21 23:54] DDaryll opened #11 "The Colour board trys to open to the left side, but it doesnt show up if its outside the box"
https://prnt.sc/r5xtb7
pressed some rnd keys, now its red, but cant change

[2020-02-22 03:07] lacymorrow commented on #11
Oh no! That's a big issue. Can you let me know your operating system?
I'll try to get a fix up this weekend.

Thanks for flagging!

[2020-02-22 22:02] DDaryll commented on #11
Win 10 Pro
Newest updates, nothing special

[2020-02-22 22:06] #11 closed

[2020-02-22 23:13] lacymorrow commented on #11
@DDaryll I found an issue with my Appveyor builds causing sporradic issues. I'm building everything locally now, would it be possible for you to test out the 0.2.16 release I've just posted?

https://github.com/lacymorrow/crossover/releases/tag/v0.2.16

Hopefully it will fix things!

[2020-02-23 03:20] DDaryll commented on #11
Awesome, its working :)
Good job , Thx :-)

[2020-02-23 04:00] lacymorrow commented on #11
Thanks so much for testing @DDaryll!

[2020-03-21 11:57] Zewwo-Boi opened #14 "Doesn't anchor on middle on mac"
When I click the 4 dots thingy, it goes under the middle of my screen

[2020-03-22 07:03] lacymorrow commented on #14
Thanks for the report @Zewwo-Boi! I'll see if I can dig into this sometime this week. Cheers!

[2020-03-22 09:06] Zewwo-Boi commented on #14
@lacymorrow Thanks!

[2020-04-22 07:59] testerfr810 opened #15 "-possible or not- Custom crosshair images"
i want if is possible to add personalised dot ?
&
is is possible modify the shortcut ?
&
if is always possible to change 1 or other dot with just a shortcut ?

is lot of question i say.

ty

[2020-04-24 07:20] mikerogne commented on #15
I'd like to add a personalized dot too. Or at least make the center dot bigger.

[2020-04-28 04:35] lacymorrow opened #16 "Add ability to change dot size independently of crosshair"
RE: https://github.com/lacymorrow/crossover/issues/15#issuecomment-618848320

Would like more customization options for the dot, including the ability to change the size of the dot.

[2020-04-28 04:35] lacymorrow commented on #15
@testerfr810 It's definitely possible for me to add these features in the next version. We can add a way to customize the keyboard shortcut, how would you want to be able to personalize the dot?

Do you mean like a keyboard shortcut to a set of settings? (kind of like a profile chooser?)

@mikerogne I'm hearing you, you want to be able to change the size of the dot (independently of the crosshair)

[2020-05-06 20:27] Serinoxxx opened #17 "Center crosshair on screen"
Is there any way to center the crosshair? A button to reset position would be good.

[2020-05-07 17:19] lacymorrow commented on #17
@Serinoxxx You can reset all settings and center the app on the current screen with `CTRL`+`ALT`+`SHIFT`+`R`

Let me know if it doesn't perfectly center, this is still a work in progress!

[2020-05-16 11:35] vozretic opened #19 "ESC key doesnt work"
Since 0.3.1 escape key doesnt work while crossover is running.

[2020-05-16 22:00] lacymorrow commented on #19
DANG, I'm so sorry @vozretic I'm pushing up version 0.3.2 in the next 30 minutes and should fix this issue.

[2020-05-16 22:41] #19 closed

[2020-05-16 22:59] lacymorrow commented on #19
@vozretic I've pushed version 0.3.1 which fixes this issue and a few other nice-to-haves. If you have the time please give it a whirl and let me know if there are any issues.

Feel free to request features as well!

[2020-05-16 23:02] lacymorrow commented on #15
I've added a new crosshair chooser that has enabled me to add more crosshairs, adding a custom image will be next.

[2020-05-16 23:06] lacymorrow opened #20 "Custom keybind"
Allow users to choose an alternative set of keys for toggle/untoggle instead of CTRL+SHIFT+ALT+X

[2020-05-16 23:06] lacymorrow commented on #14
@Zewwo-Boi I've added quite a few new crosshairs in the most recent verision and will be adding custom crosshairs next, tracking here: https://github.com/lacymorrow/crossover/issues/15

Custom keybond tracking here: https://github.com/lacymorrow/crossover/issues/20

[2020-05-16 23:08] #17 closed

[2020-05-17 05:40] Zewwo-Boi commented on #14
@lacymorrow Thanks

[2020-05-17 10:27] vozretic commented on #19
it works as intended now, great job 👍

[2020-05-17 17:56] anshpreet-s opened #21 "Modal window"
I am not able to select any crosshair design nor am i able to close the modal window please help
It freezes everything

[2020-05-17 20:13] lacymorrow commented on #21
Hi @anshpreet-s, I'm not sure what could be going on. What operating system are you using? The escape key should close the chooser window if the program is focused.

If you like we can live chat via discord or slack

[2020-05-18 00:36] anshpreet-s commented on #21
I am using Windows 10 and no the escape key is not working either

[2020-05-18 02:45] anshpreet-s commented on #21
yeah so i was poking around the different versions of crossover and i find that v0.3.1 works for me but 0.3.2 does  not work for me it freezes up every time

[2020-05-18 06:42] lacymorrow commented on #21
Hi @anshpreet-s, thanks for poking around. There was an issue with version 0.3.1 that makes CrossOver capture the escape key so that other applications cannot use it.

I'm fixing this and should have a new version tomorrow.
Thanks so much for reporting.

[2020-05-18 07:05] lacymorrow commented on #21
@anshpreet-s If you could attach a screenshot, I would very much appreciate it

[2020-05-18 09:46] atlasix0425 commented on #21
I'm having the same problem. Can Not choose custom crosshair on 0.3.2, but 0.3.1 works perfectly. When I tap "Choose Crosshair" on 0.3.2, the popup window just froze, I'm able to close the frozen window by "Alt+F4", but If I click "Choose Crosshair" again. A warning window would pops up. I want give you more information about the warning window, but after I uninstall 0.3.1, than install 0.3.2 just

[2020-05-18 17:35] PaulCombal commented on #21
Same issue with Win 10, waiting for a fix. There's not much to screenshot except for the fact that the window shows correctly but clicking a crosshair style doesn't do anything.

[2020-05-18 19:54] lacymorrow commented on #21
@PaulCombal @atlasix0425 Thanks for the information, super helpful.

[2020-05-18 19:57] mogulftw opened #22 "cant choose a different crosshair"
Not sure if im doing something wrong but when I left click on a different crosshair, nothing changes

[2020-05-18 20:34] lacymorrow commented on #22
Hi @mogulftw, you aren't wrong, I'm actively working on a new version that fixes this issue. Are you experiencing the same problems as the folks here?
https://github.com/lacymorrow/crossover/issues/21

[2020-05-18 20:35] lacymorrow commented on #22
We should have a new version in a few hours

[2020-05-18 21:40] lacymorrow commented on #21
Who can test for me? Since I can't reproduce the issue I need someone who is having problems test my fixes.

I'm uploading a new version here, can someone test?
https://github.com/lacymorrow/crossover/releases

cc @PaulCombal @anshpreet-s @atlasix0425 @mogulftw

[2020-05-18 21:48] lacymorrow commented on #22
Could you test this version and see if it fixes the issue?
https://github.com/lacymorrow/crossover/releases/tag/v0.3.3

[2020-05-18 22:57] PaulCombal commented on #21
I probably can do this tomorrow if nobody does it before. By the way is there a way to show the console so that in case it's not it I can provide the error details?

[2020-05-18 23:02] lacymorrow commented on #21
@PaulCombal You're the man, thanks for the offer.

Unfortunately, this version didn't fix the issue.I found a machine that I can reproduce the issue on so another fix is coming soon.

[2020-05-19 02:18] lacymorrow commented on #22
The latest version fixes this issue.

Thank you for your report! I wouldn't be able to maintain without feedback like this.

[2020-05-19 02:18] #22 closed

[2020-05-19 02:20] lacymorrow commented on #21
The latest version should this issue and a few more: https://github.com/lacymorrow/crossover/releases/latest

Thank you all for your reports! I wouldn't be able to maintain the app without feedback like this.

[2020-05-19 04:04] lacymorrow commented on #7
Electron versions after v6 have a regression that breaks setAlwaysOnTop

See issue here: https://github.com/electron/electron/issues/20933

[2020-05-19 04:04] #7 closed

[2020-05-19 08:08] lacymorrow commented on #14
Centering works differently on different systems apparently but we're trying to account for cross-os. Different games have different "Centers" so it may be off by a bit from your application.

[2020-05-19 08:08] #14 closed

[2020-05-19 15:50] PaulCombal commented on #21
Haha no worries I know what it's like :) Anyway thank YOU for making this tool <3

Feel free to close the issue if there's nothing more we can do btw

[2020-05-19 16:20] #21 closed

[2020-05-24 18:34] nhopfen opened #23 "centering is higher than true screen center"
Centering function is constant, yet is exactly 7 vertical fine tune adjustments from true center of screen. Left-Right is perfect. Although some games, such as Paladins have cross hairs that are off by 2-3 pixels I think true center is the most common in games.

 Not much of a problem once it is adjusted, but an annoyance for new users of this awesome software.

(I'm on windows 10)

[2020-05-26 07:09] lacymorrow commented on #23
Hi @nhopfen, what are you using to determine the center of your screen?

Unfortunately different games use slightly different offsets for "Center", so it's unlikely that the centering will be absolutely perfect, however I've updated so that it centers as close as possible.

I'm using my monitor's built-in crosshair to gauge center, let me know if you have to make adjustments using the new version

[2020-05-26 18:37] nhopfen commented on #23
Hello, I double checked by viewing picture of a cross drawn at extreme low resolution to ensure centering, and then viewed this in different image viewers in fullscreen mode. I validated with games and this matched on 13/15 of them. I will verify 0.3.6 tonight and give feedback. Thank you for such a quick reply.
(btw I just discovered that crossout hide your overlay, it is running easy anticheat s

[2020-05-27 04:16] lacymorrow commented on #23
Thanks for digging for me! If it makes sense then I'll change it.

That's odd about Crossout, some games offer a "Windowed Fullscreen" mode that seems to work well

[2020-05-27 17:14] nhopfen commented on #23
It is now better but not yet perfect for my case. I still have to lower it by 3 increments for most my games but you have a very good point that true center doesn't really exist.  This guy details it beautifully: https://www.youtube.com/watch?v=mV9GCg5BvEw.

Also being unsure about how this might be affected by hardware or some exotic scaling feature applied by screen, OS, or GPU. This might be th

[2020-05-27 17:35] lacymorrow commented on #23
Okay, this is good info. I'll do some testing tonight and see where most games land and if 3px down is the right place to be. I think the whole GUI needs to be reworked, we can separate the settings and add more information as well as potentially custom keyboard shortcuts.

The crosshair pack looks super cool, I'll probably attempt to integrate it. I'm also working on being able to use custom imag

[2020-06-15 02:12] dagoogle opened #24 "[Linux/Debian] Black window behind crosshair"
While in the menu you can see the black bar behind it
![Screenshot from 2020-06-14 19-08-52](https://user-images.githubusercontent.com/8596803/84611371-82ab7180-ae72-11ea-8d6d-8bd18f74d03e.png)
However once you close the menu it doesn't go away, so there's zero transparency for the crosshair
![Screenshot from 2020-06-14 19-07-16](https://user-images.githubusercontent.com/8596803/84611344-6c9db100-

[2020-06-15 04:49] lacymorrow commented on #24
Seems to be related to this issue, I'll try the suggested workaround: https://github.com/electron/electron/issues/15947

[2020-06-15 04:50] #23 closed

[2020-06-22 07:03] dhabak777 opened #26 "Not working on Vulkan api borderless mode"
I play Rainbow Six Siege through the vulkan API exe. The overlay doesn't show up even in borderless mode. Any fix for this?

[2020-06-22 07:44] lacymorrow commented on #26
I'll try to find a demo to test, thanks for flagging @dhabak777

[2020-06-22 08:40] #15 closed

[2020-06-23 04:37] lacymorrow commented on #26
Related to #1

[2020-06-23 05:02] lacymorrow commented on #5
Added a test fix for the transparency issues in v0.3.10

[2020-06-23 05:05] lacymorrow commented on #24
I added a fix that may or may not work in v0.3.10, i'd appreciate it if you try it out.

[2020-06-23 05:05] dhabak777 commented on #26
So, this one will take some time?

[2020-06-24 00:22] dagoogle commented on #24
Sadly its still there on v0.3.10, in that electron issue thread they also added a [delay](https://github.com/maximegris/angular-electron/commit/0994e6c0b3aab268c5f8ae6cb54f8ed2f312ec36).
I didn't see that in your commit.

[2020-06-28 18:59] lacymorrow commented on #26
Yes, unfortunately this one may take lots of time or may be un-fixable with the current technologies being used by CrossOver. I'm looking into the Vulkan API so it really depends on how the game developers have set things up.

[2020-07-15 15:07] Copn opened #28 "Left over target"
After putting my computer into sleep mode for the night, it auto-updated windows edge on my computer, and the crosshair appeared. I assumed I could just turn it back off, so I tried uninstalling it and reinstalling, but the original crosshair has stayed in its spot, and now I have two, one of which I can't make go away. I have tried restarting my computer to no avail. Any help would be appreciated

[2020-07-15 19:30] lacymorrow commented on #28
Wow, well this is a new one. Really sorry for any inconvenience this caused.

The easiest way to kill it is to open Task manager (CTRL+SHFT+ESC) and end any instances of CrossOver (you may need to click "advanced").

You should also try toggling the lock shortcut (CTRL+SHFT+ALT+X) a few times. If the settings menu comes up you should be able to right-click > Close.

Let me know if you still have i

[2020-08-06 19:39] arielsasson opened #29 "I get this error a lot of times, please fix!"
![image](https://user-images.githubusercontent.com/69323248/89573714-69cf9480-d801-11ea-81e5-0c13a44e1dfa.png)
This error keeps happening. My config is "No crosshair" with both size and opacity at 100% (I just use the little red +). When I start the app and I get this error, crossahir starts already fixed and with another color (grey). Then I do this procedure: click "choose crosshair", get a blan

[2020-08-06 20:22] arielsasson opened #30 "Centered xhair?"
May be it's too subtle, but it seems crosshairs are not actually well centered in relation to the dot or cross. Which one should we be using?

[2020-08-06 23:44] lacymorrow commented on #29
Oh no! That's no good, I'll see what I can do to get that error fixed.

That doesn't sound like the best user experience! What game are you playing? Maybe it's something I can look into.

[2020-08-07 08:47] arielsasson commented on #29
Thanks for such a fast answer! I use this for Rust and it's been working, I just have to be a little patient to get it started. Sometimes it starts right away, I don't know why. I downloaded the v3.12 .exe installer, but have used previously just the standalone version in the previous release. Just for the record, these errors show up BEFORE starting the game. If I get problems AFTER starting the

[2020-08-07 09:09] arielsasson commented on #30
UPDATE: I was curious and did a print screen and zoomed in with paint, and noticed the + crosshair (the basic one) is only one pixel thick. In a screen with even resolution dimensions, such as 1920*1080 you should use even amounts of pixels in the thickness of the lines, otherwise it will not be perfectly centered (this is due pixel 0 is undefined in the screen). I guess you could use 2 pixels for

[2020-08-09 12:02] expandingv0id commented on #24
Same issue on Manjaro XFCE. (Might look a little transparent, I have transparency set on inactive windows)
![image](https://user-images.githubusercontent.com/69422080/89731589-8578ac00-da48-11ea-9ca2-2347c90e0bcc.png)
![image](https://user-images.githubusercontent.com/69422080/89731604-a93bf200-da48-11ea-82ab-5165078d0605.png)

[2020-09-07 18:40] lacymorrow commented on #30
Sorry for the month-late reply, I appreciate the research you've done.

It's true because of the nature of pixels in a display, there is no real center pixel, only a pair. When faced with the options of having a 2px-wide crosshair or a 1px-wide crosshair that is only centered "sometimes" (when the size of the sight allows it), I chose the latter because I wanted the thinnest possible crosshair. It

[2020-09-07 18:53] lacymorrow commented on #29
Sorry for the late reply, the problem lies in a dependency of CrossOver which doesn't give windows enough time to write the file before erroring out (Issue: https://github.com/sindresorhus/electron-store/issues/103).

I'm updating CrossOver with a _potential_ fix, you can probably just use the standalone for testing but please let me know if you still get this error. There's one more fix I can try

[2020-09-09 11:44] nixywixy opened #31 "Tutorial On How to Make Repo Into Executable."
I was wondering if I could get a tutorial by you on how to properly make the repo into an executable (Video plzzzzzzzzzz). I've been sitting here trying to make this thing work with nodejs and its just not working. **[Failed at the crossover@0.3.12 lint script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.]** . I keep getting this message but a

[2020-09-16 09:51] peace20021 opened #32 "Double click to center display doesnt work...."

[2020-11-20 23:42] nipnipj commented on #24
I have the same issue in linux mint 20.

[2020-11-27 20:35] seanjobennett opened #33 "Change color of crosshair images (Aside from the dot or cross option)"
Sorry if this shouldn't go into the "issues" section, but was curious if there could be a way to change the colors of the other crosshairs to something other than just the black/gray that they are normally. Or, if it can't be a feature, where are the crosshairs stored so I could change them manually myself? Again, sorry if this is the wrong place and thanks for reading regardless!

[2020-12-14 22:01] t3chn1c4l commented on #32
Can confirm this is also happening for me. Feel free to message or request further information. Happy to provide

[2020-12-14 22:03] t3chn1c4l opened #34 "Keybind to Center Crosshair, but not Reset"
Similar to CTRL-SHIFT-ALT-R, but no reset. This would be handy so you don't have to double-click, but also if the double-click isn't working. The Center and Reset keybind works to center for me, but the double-click does not.

Thank you for this program. It's definitely the most customizable and effective, from what I've found <3

[2020-12-16 23:05] Floppy97 opened #35 "problem with windows bits or bug"
it said to me 64 bits windows needed

[2020-12-17 04:37] lacymorrow commented on #35
Oh no! I didn't realize we would have interest from 32-bit users, I'll post a version for you soon.

Thanks for the report!

[2020-12-19 18:07] serban-mihai commented on #24
Same for me on Linux Mint 20 XFCE.
Tried all the solutions with `--enable-transparent-visuals` and `--disable-gpu` also set `transparency: true` and tried to force the CSS of the html element to render alpha but nothing successfully.

[2020-12-20 17:26] lacymorrow commented on #24
This is tough  guys, I'm sorry I haven't found a solution yet but when [this bug](https://github.com/electron/electron/issues/20933) is fixed I'll be able to update the electron version which may fix this issue as well. For now I'm out of ideas :(

[2020-12-20 17:32] lacymorrow commented on #33
I will look into this, due to some images being PNG it won't be possible to change the colors of all the images programmatically. You can however use your own image by dragging a file onto the Crosshair window.

If you would like to edit the crosshairs available in CrossOver, they're stored in this directory: https://github.com/lacymorrow/crossover/tree/master/src/static/crosshairs

Hope this help

[2020-12-20 17:34] #28 closed

[2020-12-20 17:44] lacymorrow commented on #26
It seems that this issue is prevalent for Electron apps attempting to overlay on Vulkan apps and affects the Discord overlay as well. The app identifier is `com.lacymorrow.crossover` if that helps in your testing.

I actually purchased a copy of R6 to test and am going to try disabling hardware acceleration so we'll see if anything works.

[2020-12-20 17:45] #30 closed

[2020-12-20 17:47] #29 closed

[2020-12-20 17:53] lacymorrow commented on #31
Hi @nixywixy and sorry for the delay, the "Development" section of the readme has the basic outline but the important bit is the `npm run build`. This step builds the app into an executable using the [electron-builder](https://www.electron.build/) config from the `package.json`

Let me know if this helps!

[2020-12-23 18:48] lacymorrow opened #36 "Ability to move CrossOver to next external display/monitor"
I use 2 or 3 monitors quite often, and while I don't need the ability to quickly swap my crosshair between monitors, I have this ability with other apps and it comes in handy. Might be useful to someone.

[2020-12-23 18:50] lacymorrow commented on #32
Seems to work in MacOS but not Windows. Haven't tested Linux

[2020-12-23 21:45] lacymorrow opened #37 "Write Tests"
Testing framework (spectron) is already in place, just need to write more applicable unit tests.

[2020-12-23 22:59] #34 closed

[2020-12-23 22:59] #35 closed

[2020-12-23 23:16] lacymorrow opened #39 "Enable auto-update for linux"

[2020-12-24 03:49] lacymorrow commented on #34
I have added the keybind CTRL-SHIFT-ALT-C to center the app if double-click doesn't work.

[2020-12-24 04:30] lacymorrow commented on #35
Hello, I've had a chance to fix my build process, can you try this version: https://github.com/lacymorrow/crossover/releases/download/v0.3.18/CrossOver-0.3.18.exe

[2020-12-26 10:42] wojciechSlodziak opened #41 "Add ability to turn off the crosshair while usign ADS."
First of all, this is a great, great app.

Do you think it would be possible to add an option to disable the crosshair when you are holding right mouse button?

This seems to be useful in games like Tarkov, where your middle of the screen is not always where your gun will shoot, especially when aiming down sights.

[2020-12-26 23:41] lacymorrow commented on #41
Great suggestion! I'll see if this would be possible

[2020-12-29 05:04] ChosenDave commented on #20
Is it added  yet? Doesnt know if it is or not ^^

[2020-12-30 10:37] SegoItCh opened #42 "Simple reset position, without reset settings"
Title

[2020-12-30 22:01] lacymorrow commented on #20
Not yet, I'm working on a better way to change app settings and will include this feature.

[2020-12-30 22:57] lacymorrow commented on #42
This feature was introduced in the most recent version as CTRL-ALT-SHIFT-C, please update and let me know if you have further issues.

[2020-12-30 22:57] #42 closed

[2020-12-30 23:24] ChosenDave commented on #20
Thank you for your respond! Can't wait for this, and the crosshair to hide when ADS i've seen from other suggestions!

[2021-01-04 11:28] wolewd commented on #5
i got this bug too,
using arch linux with budgie DE
Kernel 5.4.86-1-lts

[2021-01-04 16:34] lacymorrow commented on #5
Likely we will need to wait for another bug to be fixed in electron before this can be fixed. My apologies.

[2021-01-04 16:49] lacymorrow commented on #41
I've done some research on this and it is possible, but would require a native addon or the use of iohook, which I'm wary of doing until this issue is resolved: https://github.com/wilix-team/iohook/issues/93.

Don't expect this feature too soon.

[2021-01-06 19:41] nipnipj commented on #24
I've tested version `0.3.21` on Linux mint 20. I get a black box.
![Screenshot from 2021-01-06 14-39-45](https://user-images.githubusercontent.com/36553373/103812915-3ce01180-502d-11eb-8cda-31b0e001d0a8.png)

[2021-01-07 18:34] lacymorrow commented on #24
Thanks for testing! I'll look into this further

[2021-01-23 00:22] havvk1 opened #43 "Refresh Rate"
Hello,

Seems whenever I launch it, it noticeably alters my monitor's refresh rate negatively, when I end the task it returns my refresh rate back to normal.

Any ideas?

[2021-01-25 21:56] lacymorrow commented on #43
Thanks for reporting @havvk1, I'll see if there is anything I can do to improve performance.

[2021-01-26 02:45] lacymorrow commented on #31
For anyone interested in developing, this app was created using @sindresorhus [electron-boilerplate](https://github.com/sindresorhus/electron-boilerplate)

[2021-01-26 02:45] #31 closed

[2021-01-26 02:47] lacymorrow commented on #33
If someone can provide a set of crosshairs in SVG format, it would be possible to allow color customization.
Until that time, this is not possible since the images are PNG.

[2021-01-26 02:49] #26 closed

[2021-01-26 02:50] lacymorrow commented on #1
This may actually be near-impossible for Electron apps without some sort of injection method, and then may be detected by anti-cheat systems. Unless someone wants to investigate using native modules to handle this, it will be a `wontfix`.

Related: #26

[2021-01-26 02:50] #1 closed

[2021-01-26 04:09] Crumpsy opened #44 "Ability to change keybinds!"
Love your work btw, keep it up!

Using it for Tarkov atm but would love the ability to change the keybind when I need too, if possible?

Cheers!

[2021-01-26 05:39] lacymorrow commented on #41
This requires the app to be actively listening (usually to a mouse click).

It's more intrusive than I think this code should be and there is no clear cross-platform route. Therefore, I'm closing this as wontfix

[2021-01-26 05:39] #41 closed

[2021-01-26 05:43] lacymorrow commented on #32
On Chrome Windows, any element with `-webkit-app-region: drag` eats all click events. See https://github.com/electron/electron/issues/1354.

I've found a workaround and this will be fixed in this week's release

[2021-01-26 15:32] lacymorrow commented on #44
Yep, this is on the roadmap and I'm aiming to have a new major release this weekend so keep an eye open (no promises on when, but this is coming).

Duplicate #20

[2021-01-26 15:32] #44 closed

[2021-01-26 15:55] lacymorrow commented on #43
@havvk1 Can you let me know what operating system you use? Windows maybe?

[2021-01-26 17:00] havvk1 commented on #43
Windows 10 64b

When i launch the program, its almost as if my 240hz refresh rate on the monitor drops to 40-60hz. It doesn't effect my fps, just the refresh rate. very strange.

Sent from Outlook<http://aka.ms/weboutlook>
________________________________
From: Lacy Morrow <notifications@github.com>
Sent: Tuesday, January 26, 2021 7:55 AM
To: lacymorrow/crossover <crossover@noreply.github.com>
Cc:

[2021-01-26 17:32] lacymorrow commented on #43
@havvk1 that is very odd, I use the app quite often so I'm not sure what could be happening but I'm trying to reproduce now. If you look at the refresh [rate test testufo.com](https://www.testufo.com/) can you see the slowdown occurring?

[2021-01-26 18:03] havvk1 commented on #43
Yes, i have ran that when i initially realized the issue.

I could easily tell the difference between them all. Then Launched the program, and they all were reduced to appearing the same. small difference between 30-50.

Sent from Outlook<http://aka.ms/weboutlook>
________________________________
From: Lacy Morrow <notifications@github.com>
Sent: Tuesday, January 26, 2021 9:33 AM
To: lacymorrow/cr

[2021-01-27 07:03] lacymorrow opened #45 "Native errors"
[code]

[2021-01-27 07:17] lacymorrow commented on #43
@havvk1 I'm sort of stumped, I'm getting a solid 240hz on the same OS with only a blip when Crossover is launched. Im assuming it has to be something to do with your GPU, either targeting the wrong GPU or a bug with Chromium, so I'll attach a version with graphics acceleration disabled.

Do me a favor, this is a [pre-release version](https://github.com/lacymorrow/crossover/releases/tag/v1.0.1-alph

[2021-01-27 07:42] lacymorrow commented on #24
I've posted a pre-release version that updates Electron, give it a try and see if it fixes your issue: https://github.com/lacymorrow/crossover/releases/tag/v1.0.1-alpha

[2021-01-27 07:42] lacymorrow commented on #5
I've posted a pre-release version that updates Electron, give it a try and see if it fixes your issue: https://github.com/lacymorrow/crossover/releases/tag/v1.0.1-alpha

[2021-01-27 15:12] nipnipj commented on #24
Version `1.0.1` didn't work for me. I'm one Linux mint 20.1. Pls, someone else confirm.
![sc](https://user-images.githubusercontent.com/36553373/106010955-00ca2a80-6088-11eb-9c5d-6e6c213cea37.png)

[2021-01-27 17:06] havvk1 commented on #43
Thank you,

I will try this tonight after work.

Stay tuned

Sent from Outlook<http://aka.ms/weboutlook>
________________________________
From: Lacy Morrow <notifications@github.com>
Sent: Tuesday, January 26, 2021 11:17 PM
To: lacymorrow/crossover <crossover@noreply.github.com>
Cc: havvk1 <cmuusse1@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [lacymorrow/crossover] Refresh Rate

[2021-01-27 17:14] JoelEllis commented on #5
This doesn't fix it for me (fedora 33, xorg)

[2021-01-27 17:18] lacymorrow commented on #5
@JoelEllis thanks for testing! I'm attempting to fix this issue for good, I'll let you know when I have another version to test.

[2021-01-27 17:19] lacymorrow commented on #24
@nipnipj thanks for testing! I'm attempting to fix this issue for good, I'll let you know when I have another version to test.

[2021-01-27 19:24] lacymorrow commented on #24
@nipnipj Tested v1.0.1 i386.deb on Linux Mint 20.1-xfce and can confirm

[2021-01-27 21:05] lacymorrow commented on #24
I believe I have fixed the issue (at least in debian), tested on Mint and Ubuntu. Please try one of the 1.0.2 pre-release versions: https://github.com/lacymorrow/crossover/releases/tag/1.0.2
@nipnipj @serban-mihai @dagoogle @expandingv0id

[2021-01-27 21:05] lacymorrow commented on #5
I believe I have fixed the issue (at least in debian), tested on Mint and Ubuntu. Please try one of the 1.0.2 pre-release versions: https://github.com/lacymorrow/crossover/releases/tag/1.0.2
@JoelEllis @wolewd @marcmascarell

[2021-01-28 02:46] wolewd commented on #5
hi, i already test it with arch linux 5.4.92-1-lts
the transparency issue is fixed now, but still i cant move or drag the crosshair

[2021-01-28 03:19] lacymorrow commented on #5
Excellent, thanks for testing @wolewd

[2021-01-28 09:33] JoelEllis commented on #5
Yeah, same for me - transparency is fixed, but dragging/arrow keys isn't.

[2021-01-28 18:30] nipnipj commented on #24
Yes, it works! I'm on Linux mint 20.1 cinnamon.
![sc1](https://user-images.githubusercontent.com/36553373/106182544-fc2b7200-616c-11eb-93de-a3c97c983ecc.png)

[2021-01-28 19:05] nipnipj commented on #24
I noticed that I cannot move the crosshair with `ctrl+alt+shift+arrows`.

[2021-01-28 19:44] lacymorrow opened #46 "[Linux] Unable to drag or move window"
User reports of not being able to drag app window and cannot move the crosshair with `Ctrl+Alt+Shift+Arrows`

Reported here: https://github.com/lacymorrow/crossover/issues/24#issuecomment-769306183
And here: https://github.com/lacymorrow/crossover/issues/5

[2021-01-28 19:45] lacymorrow commented on #24
Tracking for the remaining bug of being unable to move the app window: https://github.com/lacymorrow/crossover/issues/46

[2021-01-28 19:45] lacymorrow commented on #5
Tracking for the remaining bug of being unable to move the app window: https://github.com/lacymorrow/crossover/issues/46

[2021-01-28 20:21] lacymorrow opened #47 "List of Games (that work/don't work)"
Fortnite
- Works in `Windowed Fullscreen` mode
- Doesn't work in `Fullscreen` mode

[2021-01-29 04:48] #24 closed

[2021-01-29 04:48] #32 closed

[2021-01-29 05:03] lacymorrow opened #50 "[OS: Linux] ContextBridge doesn't work"
Currently `contextBridge` is disabled on Linux due to this bug.

[2021-01-29 05:18] lacymorrow commented on #24
@nipnipj There was a bug targeting the wrong window when moving with arrow keys (moves the hidden chooser window instead).

It's fixed in the latest release, give it a shot: https://github.com/lacymorrow/crossover/releases/tag/v1.0.3

[2021-01-29 05:19] lacymorrow commented on #5
There was a bug targeting the wrong window when moving with arrow keys (moves the hidden chooser window instead).

It's fixed in the latest release, tested in Mint, Fedora, and Ubuntu. Sorry @wolewd, Arch is alien to me 👾
https://github.com/lacymorrow/crossover/releases/tag/v1.0.3

[2021-01-29 05:19] #5 closed

[2021-01-29 05:50] lacymorrow commented on #8
Doesn't exist anymore

[2021-01-29 05:50] #8 closed

[2021-01-29 14:58] nipnipj commented on #24
I can confirm on Linux mint 20.1 cinnamon. There is not black box (transparecy work correctly) and crosshair can be moved throught `Ctrl+Alt+Shift+Arrows`!

[2021-01-29 16:13] benjaminaudet commented on #1
Hi!
Did you already try this : https://github.com/electron/electron/issues/10078#issuecomment-331581160

[2021-01-29 16:28] #46 closed

[2021-01-29 17:51] lacymorrow commented on #1
This is fixed in the latest version 🙂

[2021-01-29 17:57] benjaminaudet commented on #1
I am currently using the 1.0.3 and it's not working with the fullscreen of the game Rust :(

[2021-01-29 22:18] JoelEllis commented on #5
Thanks so much :smile: I really appreciate you doing all this.

[2021-01-30 17:52] JoelEllis opened #51 "Close button not hiding"
crossover 1.0.4, Fedora 33 with xorg
![image](https://user-images.githubusercontent.com/28905212/106364017-ead89600-6323-11eb-9985-2efdc9c50ba1.png)
(Sorry about reporting yet another linux bug :smile: )

[2021-01-31 17:56] lacymorrow commented on #51
Thanks for the report @JoelEllis! Fixed in 1.0.5: https://github.com/lacymorrow/crossover/releases/tag/v1.0.5

Let me know if you have any more issues.

I noticed Fedora has conflicting key shortcuts so I'm working on the ability to change CrossOver's keybinds

[2021-01-31 17:57] lacymorrow commented on #43
Hello @havvk1, were you able to test the GPU vs nonGPU versions?

[2021-01-31 19:03] JoelEllis commented on #51
So... It fixes the close button still being there after the window is hidden, but now there's no close button at all! Sorry! :smiley:
![image](https://user-images.githubusercontent.com/28905212/106394871-d5806c00-63f6-11eb-98b8-3283be1c7c95.png)
Also, looking through the shortcuts I can't see any that are conflicting. What ones do you think conflict?

[2021-01-31 21:52] lacymorrow commented on #51
Oh no!

On Sun, Jan 31, 2021 at 11:04 AM Joel Ellis <notifications@github.com>
wrote:

[2021-02-01 00:03] lacymorrow commented on #51
That's super odd, I'm testing in fedora and seems to be working, I must have messed up when compiling, can you try version 1.0.7: minutes:https://github.com/lacymorrow/crossover/releases/tag/v1.0.7

[2021-02-01 00:21] lacymorrow commented on #1
@benjaminaudet What OS?
Try the latest version as I've made a few updates

[2021-02-01 09:40] JoelEllis commented on #51
1.0.7 seems to be exactly the same - I'm using the appimage install, if that helps?

[2021-02-01 16:22] lacymorrow commented on #51
Very weird, I'll take another look today

On Mon, Feb 1, 2021 at 1:41 AM Joel Ellis <notifications@github.com> wrote:

[2021-02-01 20:45] lacymorrow commented on #51
There absolutely is a problem happening during compilation that is screwing this up

[2021-02-01 22:15] JoelEllis commented on #51
I can't see a way to open devtools to look at anything from my end, f12 and ctrl+shift+i seem to be disabled. Any way to enable that in the built version?

[2021-02-01 22:18] JoelEllis commented on #51
When built from source it has the fully-functioning close button by the way.

[2021-02-02 06:39] lacymorrow commented on #51
I uploaded 1.0.9, give it a shot. The OS check doesn’t seem to be.working
on Linux when packaged, not sure why

On Mon, Feb 1, 2021 at 17:19 Joel Ellis <notifications@github.com> wrote:

[2021-02-02 12:13] benjaminaudet commented on #1
Windows 10
Still not working with the version 1.0.8 (I built it myself)

[2021-02-02 16:34] lacymorrow commented on #1
Yep, unfortunately this is a limitation of Electron, GPU-accelerated programs (especially Vulkan), and probably anti-cheat systems. It sucks but until someone can offer me a valid cross-platform method of getting above fullscreen windows, I don't plan to ever support it

(because I am not going to write and support a native extension myself)

[2021-02-04 04:58] FindingEDENxo commented on #47
Halo: The Master Chief Collection

- Works Borderless
- Works Windowed
- Doesn't work Fullscreen

[2021-02-04 14:10] LandSlide183 opened #52 "Custom Install Location"
Is it possible to install crossover in a location other than the default?

[2021-02-04 15:36] lacymorrow commented on #52
What operating system are you using? There are portable versions available that can be run from anywhere

[2021-02-04 19:15] LandSlide183 commented on #52
Oh! Sorry for bothering you, I should have looked around a bit more.

[2021-02-04 19:15] #52 closed

[2021-02-04 19:52] lacymorrow commented on #52
No problem at all.

On Thu, Feb 4, 2021 at 11:16 AM LandSlide183 <notifications@github.com>
wrote:

[2021-02-07 11:18] JoelEllis commented on #51
Hi, sorry about forgetting this for a while.
1.0.9 works!
Thanks again!

[2021-02-07 11:18] #51 closed

[2021-02-08 13:23] boyess opened #53 ""Center the crosshair window" shortcut doesn't work well"
The "ctrl + alt + shift + c" shortcut doesn't work correctly crosshair is not in the middle.

[2021-02-08 16:20] lacymorrow commented on #53
@boyess Can you do me a favor and tell me your Operating System and if the crosshair is too low, too high?

Would also be good to know your monitor resolution if possible.

Basically, this issue has been created before (#23) and games don't necessarily use the same center point, more info here: https://github.com/lacymorrow/crossover/issues/23#issuecomment-634811779

I'm willing to adjust the vert

[2021-02-08 17:29] boyess commented on #53
i am using windows and the crosshair is higher then in game crosshairs. I am using two monitors my main monitor(the one i am playing games) is 1360x768 and the second monitor is 1600x900

[2021-02-11 17:32] boyess commented on #53
i am using windows and the crosshair is higher then in game crosshairs. I am using two monitors my main monitor(the one i am playing games) is 1360x768 and the second monitor is 1600x900

[2021-02-19 03:00] DraxSE opened #54 "Two gun sight or more?"
Is it possible to have two (or more) gun sights at the same time?

[2021-02-19 22:30] lacymorrow commented on #54
Thanks for creating a ticket @DraxSE!

Settings will not save for shadow windows/duplicate crosshairs, but this has been added in the most recent version: https://github.com/lacymorrow/crossover/releases/latest

[2021-02-19 22:30] #54 closed

[2021-02-20 05:54] KeSaite commented on #47
Metro Exodus Gold Edition

- It doesn't work under any circumstances

[2021-02-20 19:46] darealblack opened #56 "Full Screen Applications cant open the Crosshair. (MacOs)"
So when I full screen an app on Mac it just doesn't open the crosshair, but when I go back with no fullscreen it works. Please fix this since this is quite annoying to play on Non-Fullscreen. (I Tried adding the crosshair to the app but it failed)

Thank you!
dareal_black

[2021-02-21 02:10] lacymorrow commented on #56
Hey @darealblack, unfortunately the way this app was created doesn't allow it to overlay most fullscreen games, as they bypass the windowing system.

At this point in time my only suggestion is to play in "windowed fullscreen" or "borderless" mode.

Can you tell me what game you're playing so that I can add it to the list? If I can I'll test it myself as well, but there's no guarantee I can make i

[2021-02-21 06:07] darealblack commented on #56
Oh thanks, Im sorry to hear that. I will continue to play in Windowed full screen. I tried playing in Roblox but it failed in Fullscreen but worked with No fullscreen. I hope that helps

Thank you!
dareal_black

[2021-02-21 22:54] myoung6 opened #57 "centering crosshair on stretched resolutions"
double clicking the bulls-eye doesnt correctly center the crosshair

[2021-02-22 00:59] lacymorrow commented on #57
@myoung6 Is it too high? How many pixels off?

[2021-02-22 07:43] KeSaite commented on #47
Tom Clancy's The Division 2
- Works in `Windowed Fullscreen` mode

- Doesn't work in `Fullscreen` mode

[2021-02-22 09:43] myoung6 commented on #57
It's too high. When you use the center function it's centered horizontally but just a little too high vertically. I saw you mention that it may not take into account the taskbar and I think that's roughly the amount it's off by, maybe a little more though. I was playing 1440x1080 and 1680x1080

[2021-02-25 12:59] Ravonyxl opened #58 "On imac i use a normal keyboard i don't have Option KEY what am i supposed to do"
---

CrossOver 0.3.12
Electron 6.1.12
darwin 19.6.0
Locale: en-GB

[2021-02-25 14:33] lacymorrow commented on #58
`Alt` on your keyboard should be equivalent to `Option` on a Mac :)

I'm still working on adding custom keybinds.

[2021-02-26 18:28] nipnipj opened #59 "How can I add a custom crosshair --- one created by myself."
Is it possible to do it?
How can I do it?
What are the requirements of the image?

[2021-02-26 18:49] lacymorrow commented on #59
Sure! Just click and drag the image to the app while unlocked.

There are no requirements to the image, but it will be scaled to fit into the crosshair size

[2021-02-26 19:13] nipnipj commented on #59
by unlocking you mean pressing `ctrl + shift + alt + x`, right? I see a `+` symbol when draging it to corners of the windows, but nothing happens.

![Screenshot from 2021-02-26 14-10-23](https://user-images.githubusercontent.com/36553373/109344378-a239cd00-783c-11eb-9a02-1928027d6309.png)

[2021-02-26 19:34] lacymorrow commented on #59
Looks like there's a bug here, it's present in Windows too. I'll admit I don't test much on non-mac platforms unless an issue is raised so let me look into this and get back to you.

[2021-03-07 17:41] dreuseff opened #60 "Feature Request: 200% Size (Better resolution)"
On my 4k monitor (and Windows 10 Pro x64), the crosshairs feel really small to me.  Could I get a checkbox (or something) to allow the size to go to 200%?

[2021-03-07 17:44] dreuseff opened #61 "[Feature] Toggle Between Two Crosshairs"
I would love to be able to switch from a crosshair for dark environments to one for light environments with a hotkey.  This would allow me to use a smaller, more precise crosshair instead of having something that is bold enough to show up in all situations.

[2021-03-10 17:21] lacymorrow commented on #60
I just got a new monitor myself, I can see what you mean.

I'll try to get this in the next release.

[2021-03-20 07:32] Chit132 opened #62 "Fullscreen games support"
Hello! Sorry if this isn't the right place for this as this is my first time using GitHub and I couldn't find another way to contact you :( I came across this app when I was building an overlay app for games myself and no matter how hard I tried, I couldn't get it to appear over fullscreen games. I tried everything like alwaysOnTop, show, maximize, kiosk mode, etc. and I just couldn't get it to wo

[2021-03-21 00:16] lacymorrow commented on #43
Closed for inactivity

[2021-03-21 00:16] #43 closed

[2021-03-21 00:20] lacymorrow commented on #62
Unfortunately there is currently no way to put an electron window above a full screen window. It's a problem for this app and many others, you would need to write a native extension in order to achieve what you want I think.

The way I do it in the app is here: https://github.com/lacymorrow/crossover/blob/f178a9e66b18d7e2e5be211736fbe3bc8e240c86/src/main.js#L449

It doesn't work for most fullscree

[2021-03-21 00:20] #62 closed

[2021-03-21 09:18] Chit132 commented on #62
Aww I'm glad that at least a professional got my doubts cleared. Thanks so much for the quick and thorough response! I will let you know if I find a solution to this issue! Have a great one ❤️

[2021-03-21 14:42] GirkovArpa commented on #56
@lacymorrow I justed tested it on Roblox on Windows 10 x64 and it works in both fullscreen and non-fullscreen mode.

[2021-03-22 02:34] GirkovArpa commented on #33
@lacymorrow [Here's](https://codepen.io/sosuke/pen/Pjoqqp) a way to colorize a black PNG using JS and CSS.

[2021-03-22 23:36] #56 closed

[2021-03-22 23:40] lacymorrow commented on #62
Cheers! I would be thrilled if you found a way to do it

[2021-03-22 23:45] #58 closed

[2021-03-23 00:21] lacymorrow commented on #53
I fixed this upstream, will trickle down shortly: https://github.com/sindresorhus/electron-util/pull/44

[2021-03-23 00:35] lacymorrow commented on #57
This is fixed upstream and will be fixed in the next release, tracking here: https://github.com/lacymorrow/crossover/issues/53

[2021-03-23 00:35] #57 closed

[2021-03-23 01:41] lacymorrow commented on #36
Keybind is `CTRL`+`SHIFT`+`ALT`+`M`

[2021-03-23 15:53] GirkovArpa commented on #47
# Deceit
## Windows 10
- Works in `Windowed` mode
- Doesn't work in `Fullscreen` mode

## Solution (Windows-only)

Install AutoHotKey and run this script with it (save it as `script.ahk` and double-click it):

[code]

Once in-game, pressing space should put the crosshair over the screen, even in fullscreen mode.

I optimistically presume this should work for any fullscreen game on Windows where th

[2021-03-23 18:16] lacymorrow commented on #47
Thanks @GirkovArpa, I'll make a note of the AHK workaround.

[2021-03-24 02:33] #36 closed

[2021-03-24 02:33] #53 closed

[2021-03-24 02:33] #59 closed

[2021-03-24 04:00] lacymorrow commented on #57
Fixed in the latest release https://github.com/lacymorrow/crossover/releases/tag/latest

[2021-03-24 04:00] lacymorrow commented on #53
Fixed: https://github.com/lacymorrow/crossover/releases/tag/latest

[2021-03-24 04:01] lacymorrow commented on #59
@nipnipj This should be fixed in the latest release: https://github.com/lacymorrow/crossover/releases/tag/latest

[2021-03-24 14:44] nipnipj commented on #59
Linux mint 20.1 cinnamom, here. It works! I can draw images to the app while unlocked. Now I need to create my perfect crossair.
Also I have to mention that the download speed was extremely slow --- this didn't happen before.

[2021-03-24 17:13] lacymorrow commented on #59
@nipnipj Thanks so much for letting me know! (I didn't test in linux, just crossed my fingers)

Not sure why the download speed was slower, may be a github issue.

[2021-03-24 23:46] GirkovArpa commented on #33
Here's another way with pure CSS, no JS:
[code]
It uses the crosshair image as a cookie-cutter over a red square so that the result is just a red crosshair.

I would have liked to demonstrate this in a fork but I can't get any of my changes to apply, even though my calls to `console.log` do work.

[2021-03-25 11:13] alecs91 opened #64 "CrossOver doesn't work in Fullscreen mode"
It seems that CrossOver doesn't work on EFT:
As soon as i set up the crosshair and then alt-tab in the EFT screen the crosshair disappears.
If i press any keyboard shortcut like alt+ctrl+maiusc+x (or 'h', or whatever) the game screen minimize and it brings me back to the desktop.
Suggestions?
Edit: It works with "screen mode borderless". It doesn't work with "screen mode fullscreen"

[2021-03-25 15:23] lacymorrow commented on #64
@alecs91 Unfortunately fullscreen mode doesn't work in most games, however there is a workaround using AutoHotKey https://github.com/lacymorrow/crossover#workaround

[2021-03-28 05:00] GHOUL35 opened #65 "Error 404 on download"
i don't know if this is happening to anyone else but when i click the windows download or the .exe download it takes me to a error 404 page not found.

[2021-03-28 19:23] #65 closed

[2021-03-28 22:09] lacymorrow commented on #65
Probably my fault, i'll take a look

[2021-04-06 20:25] tempaccount5554536 opened #66 "Better resolution for imported crosshairs"
please add better resolution for imported crosshair. this would be really good and it would make it a lot better!

[2021-04-09 01:41] lacymorrow commented on #66
Unfortunately I didn't make any of the crosshairs, so unless someone steps up and provides me with better crosshairs, this is what we get.

You can still drag and drop your own custom image though if you design a good one :)

[2021-04-09 22:31] tempaccount5554536 commented on #66
What I mean is whenever I put in my own crosshair it gets put to one resolution I have changed the resolution of the crosshair and when I put it in it changes

[2021-04-12 14:53] wailingduck opened #67 "Roblox Not Working."
I try to play Roblox, But the crosshair is in the way as roblox hasthe mouse in the middle, meaning i can not move my mouse in-game. I use fullscreen on windows 10.

[2021-04-13 01:32] lacymorrow commented on #67
Could you try running in borderless mode to see if that fixes the issue?

[2021-04-14 19:43] wailingduck commented on #67
I believe it does not have borderless Mode.

[2021-04-15 03:08] ro31337 commented on #1
There can't be valid cross-platform method because of specifics of the problem. It's better to start supporting it for one platform with "not implemented" fallback for other platforms.

[2021-04-15 17:07] lassevk commented on #47
Empyrion: Galactic Survival

Works in windowed mode
Untested full screen

[2021-04-19 01:51] Pavalis commented on #47
Destiny 2

 Works great in full screen, makes it way easier to line up those sniper shots

[2021-04-20 05:27] lacymorrow commented on #66
Ahh, I'd need to see a screenshot maybe? Do you mean you create an image, and it's displayed smaller?

[2021-04-20 05:27] lacymorrow commented on #67
Maybe a windowed fullscreen mode?

[2021-04-24 03:51] 0w0u opened #68 "Crosshair Menu looks like a png"
It's not my problem, I can not explain this so well but my friend says that the crosshair menu stills like a png even pressing toggle shortcut
![image](https://user-images.githubusercontent.com/54691517/115946372-572be700-a486-11eb-8f26-bc2934c3c11c.png) (He can move the cursor, but the menu stills)

[2021-04-24 13:55] nipnipj commented on #68
What OS are you guys using? I haven't found any issues with latest release `v1.3.0` in Linux Mint 20.1, not even when using a custom crosshair.

[2021-04-25 21:29] lacymorrow commented on #68
Is that Windows 95/ME?

[2021-04-26 16:09] wailingduck commented on #67
Sorry for late reply. There is no Windowed fullscreen. Just fullscreen and Windowed. It does not work for either.

[2021-04-27 18:25] #33 closed

[2021-04-29 00:05] pranjalp970 opened #69 "Not opening"
When I downloaded Crossover it installed but didn't open up I'm on a windows 10. When is first downloaded the app it worked fine but when I closed it and opened it again it didn't show the main UI when I did ctrl alt shift it did show the about crossover window
 @lacymorrow

edit- please respond I've been waiting for a week @lacymorrow

[2021-04-30 00:04] ezn17 commented on #68
No, it's windows 7 home premium, the theme of windows is of windows 95.

[2021-05-08 04:57] #69 closed

[2021-05-17 05:02] DeadwithIce commented on #47
Apex Legends

- Works in windowed mode
- Doesn't works in fullscreen

[2021-05-18 00:55] pulsebladebonehead opened #70 "Performance issues in certain games (Titanfall 2)"
When I use crossover with Titanfall 2 I get lag spikes. I’ve tried using lower quality settings but it doesn’t change much. I’ve also not noticed any more specific source of lag other than running crossover.

[2021-05-20 15:48] lacymorrow commented on #70
Interesting! You're the only other person who has experienced any sort of performance loss.

Any other info that you can provide like OS, system hardware?

It sounds like you may be having issues with GPU acceleration, could you try the "non-GPU" version that I have listed here: https://github.com/lacymorrow/crossover/issues/43

If that fixes the lag spikes then I will know how to fix it. I'm work

[2021-05-25 16:32] adushaj opened #71 "Destiny 2 Fullscreen not working"
Your documentation says this works in fullscreen but appears maybe a patch for the game broke that. Using the AHK isn't acceptable as there is noticeable input lag. Any way I can help you look into this? Would LOVE for the app to work in fullscreen Destiny 2

[2021-05-25 23:57] lacymorrow commented on #71
What OS are you using, it would be good to start collecting this info. I really don't have an answer for the fullscreen issue, it's a limitation of Electron and the OS, not Crossover.

[2021-05-27 22:44] adushaj commented on #71
I’m on Windows 10 Build 19041.985

Nvidia Driver version 466.27

Aleks

From: Lacy ***@***.***>
Sent: Tuesday, May 25, 2021 7:58 PM
To: ***@***.***>
Cc: Aleksander ***@***.***>; ***@***.***>
Subject: Re: [lacymorrow/crossover] Destiny 2 Fullscreen not working (#71)

What OS are you using, it would be good to start collecting this info. I really don't have an answer for the fullscreen issue, it's a

[2021-06-01 15:52] kaimodiss opened #72 "Fivem"
Works in `Fullscreen`

[2021-06-09 00:07] gdfgdfgdfgfdhdhgfh opened #73 "How do u even start this thing?"
How do u start this thing??
Where is exe?
Its just bunch of random shit, just make exexexexexeexeexececexee

[2021-06-10 16:22] lacymorrow commented on #73
Ha did you happen to see the large "Download for Windows" link? Or the multiple `exe` files on the [releases page](https://github.com/lacymorrow/crossover/releases/latest)?

Here you go, bud:
https://github.com/lacymorrow/crossover/releases/latest/download/CrossOver.exe

[2021-06-10 16:22] #73 closed

[2021-06-12 03:17] Issue3 opened #74 "Worked in a game but now its not"
Valorant, I was playing valorant, and once I opened it again it stopped working for it but if I sign into another account it works
anything you know bout this?

[2021-06-12 15:30] nipnipj commented on #74
I do not think there is anything related to account switching. Just play your games in window/window borderless mode.

[2021-06-13 23:50] Issue3 commented on #74
no it was working in full screen

[2021-06-16 18:50] couldntcarelesskys opened #75 "Not opening"
Whenever I try to open it it doesn't do anything, even when I tried uninstalling and installing again.

[2021-06-17 17:19] lacymorrow commented on #74
I cannot guarantee that it will work in Fullscreen mode unfortunately.

[2021-06-17 17:20] lacymorrow commented on #75
@couldntcarelesskys Can you provide more information about what operating system you're using and which version of the app you are trying to run?

[2021-06-17 17:21] #72 closed

[2021-06-17 17:22] lacymorrow commented on #71
Okay, I'll update the readme.

[2021-06-17 17:22] #71 closed

[2021-06-17 17:40] couldntcarelesskys commented on #75
I'm using windows 10 and I've used 0.2.14 and even the most recent version but still doesn't work.

[2021-06-17 18:35] lacymorrow commented on #75
I've just posted version 1.3.1, could you try uninstalling and using the latest [installer](https://github.com/lacymorrow/crossover/releases/download/v1.3.1/CrossOver.exe) or [portable](https://github.com/lacymorrow/crossover/releases/download/v1.3.1/CrossOver-Portable-1.3.1.exe)?

[2021-06-18 15:12] Dovidz opened #76 "Keybinds not working"
I'm trying all the keybinds, like ctrl+optn+shift+x, but nothing happens.

[2021-06-18 15:14] #76 closed

[2021-06-18 15:15] Dovidz commented on #76
Dumb mistake on my part. I deleted the old version and when i redownloaded it it worked.

[2021-06-18 19:02] lacymorrow commented on #76
No worries! I'm glad you got it working 👍

[2021-06-20 15:11] couldntcarelesskys commented on #75
Hey. sorry didn't see your reply. But I've just tried it and it's still not working

[2021-06-20 15:12] couldntcarelesskys commented on #75
I'll try the portable now

[2021-06-20 15:12] couldntcarelesskys commented on #75
It's working. Thanks

[2021-06-20 15:15] couldntcarelesskys commented on #75
Do you have any tips for it to work in csgo fullscreen?

[2021-06-20 22:08] lacymorrow commented on #75
Unfortunately not running in fullscreen is a limitation of Electron. Until they create support for it, I won't be able to add it to CrossOver.

[2021-06-20 22:08] #75 closed

[2021-06-24 14:21] couldntcarelesskys commented on #75
Ok it's fine.

[2021-06-26 08:14] bunkbail opened #77 "Weird Issue with CSGO on Manjaro"
I haven't tried crossover on Windows, but it has pretty weird issue with CSGO on Manjaro KDE. Crossover doesn't work in either fullscreen and windowed fullscreen modes but it works in windowed mode but after toggling Ctrl+Alt+Shift+X it has black borders around the crosshair.

![Screenshot_20210627_001132](https://user-images.githubusercontent.com/8214150/123506932-5a676d00-d699-11eb-941f-a9b0237d

[2021-06-27 02:03] Hennricko commented on #47
Call of Duty: Modern Warfare (2019) a.k.a. "Warzone"

- Works fine in windowed borderless
- Doesn't work in fullscreen (even with tricks ; when you can see the crosshair the game is frozen as if you're tabbed out)

Tried it in multiplayer (main reason for getting it) and battle royale mode.

Whether or not I get banned for this, we'll see. But considering actual cheaters with Engine Owning or the

[2021-06-30 00:10] peachy-keen opened #78 "settings menu drifts down when you open and then close it"
https://imgur.com/a/sNcXTWc

[2021-06-30 00:11] peachy-keen commented on #78
version 1.3.1

[2021-06-30 17:17] lacymorrow commented on #78
Whoops, my bad! I'll fix this up in a new version shortly, thanks for reporting!

[2021-06-30 17:50] #78 closed

[2021-06-30 17:52] lacymorrow commented on #66
Could you send a screenshot @tempaccount5554536 ?

[2021-06-30 17:53] lacymorrow commented on #67
I'll do more testing in Roblox. Please post your games here if they aren't working in any mode.

[2021-06-30 17:56] lacymorrow commented on #68
Sorry for the delay, is this issue only occurring in a specific game?

[2021-06-30 17:59] lacymorrow commented on #77
I haven't tested in Manjaro, so I'll try to make some time to do that.

[2021-06-30 18:02] lacymorrow commented on #47
Nah @Hennricko you won't get banned for this, it doesn't hook into any part of the game and devs have never gone after these simple image-display apps. Just don't use it in a tournament!

Thanks for the info!

[2021-06-30 18:17] lacymorrow opened #79 "Bannable? (no)"
CrossOver may be against the terms of service for your game, however as of this writing there has never been a ban issued in _any_ game for using CrossOver.

This app runs on Electron and does not hook into any running game code. It is still possible to be detected by low-level anti-cheat systems but so far CrossOver is not an interest to game studios.

In essence this app just displays an image o

[2021-07-01 00:38] peachy-keen commented on #78
how do I download the new release?

[2021-07-02 17:20] stefa-n commented on #47
Dead by Daylight
Works in Windowed
Works in Fullscreen

[2021-07-03 03:39] lacymorrow commented on #78
Sorry for the delay, just published a new release https://github.com/lacymorrow/crossover/releases/latest

[2021-07-04 20:52] spirit986 opened #80 "Windows defender detects the .exe as a Trojan:Win32/Emali.A!cl (False positive)"
I wanted to try your crossover program but the Windows Defender stops the download.

This was the information presented:

Trojan:Win32/Emali.A!cl
https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?name=Trojan%3aWin32%2fEmali.A!cl&threatid=2147728322

[2021-07-04 23:25] peachy-keen commented on #80
I got the same thing :(

[2021-07-05 02:29] lacymorrow commented on #80
Oh no! This hasn’t happened yet so I’m going to need to do a full code to see what the issue, it should be a few days.

Were you using the 1.3.2 version?

[2021-07-05 07:57] khidir-o commented on #80
Same here, using 1.3.2

`webfile: C:\Users\k\Downloads\CrossOver.exe|https://github-releases.githubusercontent.com/212880382/7de75780-db72-11eb-9ce7-9902c8a7557e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20210705%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210705T075424Z&X-Amz-Expires=300&X-Amz-Signature=c100adea196a980b48ed11a0f1991c5377454a5d64dec218af07022b998ee6

[2021-07-05 11:44] bunkbail commented on #77
I tried on Pop OS which uses GNOME out of the box, works flawlessly even on fullscreen mode. But the gameplay isn't as smooth on Manjaro, benchmarking shows it only achieves average FPS of 330 (it was 400 FPS on Manjaro). I'll try other desktop environment on Manjaro and report back.

[2021-07-05 13:28] bunkbail commented on #77
Ok I tried GNOME on Manjaro, works flawlessly with CSGO. KDE sucks haha.

[2021-07-06 01:23] lacymorrow commented on #77
Nice! So glad you got it working, thanks for doing the testing for this!

[2021-07-06 01:24] lacymorrow commented on #77
Notes: May not work on KDE, try GNOME if you experience issues.

[2021-07-06 01:24] #77 closed

[2021-07-06 11:20] ycodryn opened #81 "Unhandled errors"
This is the error you will get if there is no internet access.
Unhandled Promise Rejection
Error: net::ERR_NETWORK_ACCESS_DENIED
    at SimpleURLLoaderWrapper.<anonymous> (electron/js2c/browser_init.js:105:6536)

Can you add an option to turn off checking for update?

[2021-07-07 02:30] adeldueast opened #82 "Not really an issue more like a suggestion :)"
Didn't know where else to post this, but being able to enter custom key binds would be nice. Also when playing a game like rust, it would be nice to have an option to disable the crosshair **while** holding R.Mouse. Great project !

*EDIT: previous posts have been made already  about this sry

[2021-07-07 03:18] lacymorrow commented on #81
Good idea, I'll see what I can do

[2021-07-07 04:02] lacymorrow commented on #80
Seems like this is not uncommon for electron apps: https://github.com/electron/electron/issues/4485

I can't reproduce the error using the 1.3.2 `CrossOver.exe` though, so maybe not everyone is experiencing?
I'll just have to recommend the portable for now.

[2021-07-07 06:45] ezn17 commented on #68
no, it looks like this in all programs

[2021-07-07 16:08] lacymorrow commented on #68
So to be clear, it looks like you are unable to make the white background behind the crosshair disappear?

When you presses the shortcut to lock the crosshair (`ctrl`-`alt`-`shift`-`x`), what happens?

I haven't tested on Windows 7 but I can take a look this weekend.

[2021-07-07 16:14] lacymorrow commented on #82
Yep! I'm actively working on this.

Long story long, I need to add a ton of settings in order to do custom keybinds, and the current settings window is already cluttered so I want to incorporate https://github.com/tkambler/electron-preferences, but there are a few bugs with that project I need to fix before I'll feel comfortable using it.

We're close.

[2021-07-07 16:14] lacymorrow commented on #82
Duplicate: https://github.com/lacymorrow/crossover/issues/20

[2021-07-07 16:14] #82 closed

[2021-07-07 16:18] lacymorrow commented on #20
Long story long, I need to add a ton of settings in order to do custom keybinds, and the current settings window is already cluttered so I want to incorporate tkambler/electron-preferences, but there are a few bugs with that project I need to fix before I'll feel comfortable using it.

Unfortunately I won't be able to hide the crosshair on ADS, as I have no way of monitoring the mouse events when

[2021-07-09 11:18] Matayosl opened #83 "CrossOver Apex Legends FullScreen"
Good Morning!.
I'm using CrossOver in Apex Legends, but in Window it's kind of bad. Is it possible for it to work on FullScreen?

Sorry My English.

[2021-07-09 19:20] lacymorrow commented on #83
Unfortunately on of the biggest issues is that CrossOver does not play nicely with fullscreen games yet, see: https://github.com/lacymorrow/crossover/issues/1

There is a workaround, but I've heard mixed results: https://github.com/lacymorrow/crossover#hidden-by-fullscreen-apps

[2021-07-09 19:20] #83 closed

[2021-07-09 21:54] Hennricko commented on #81
Was about to post just this. I block stuff from phoning home via "Windows Firewall Control" which asks when a program tries to connect to somewhere. Crossover will repeatedly throw an error if I won't let it connect to 140.82.121.4 which is highly annoying as it steals focus away from whatever game you're playing. Wouldn't be so bad if it didn't happen so needlessly often (multiple times per day i

[2021-07-12 05:56] #74 closed

[2021-07-12 12:31] adeldueast commented on #20
no.. :( Is it not possible to just disable crosshair on mouse events(right click) regardless of if we are in the game? just a like global hot key event? There are tons of apps or program that detects key/mouse events even if we are in an other app .. Correct me if i make no sens.

Ty for ur response and consideration !

[2021-07-12 13:40] lacymorrow commented on #20
The issue is that this app is built with Electron, so I'm only able to implement what is available to Electron APIs. Electron is only able to listen for keyboard `globalShortcuts`, but has no global hooks for the mouse. This also is a reason CrossOver is not bannable and not flagged by anti-cheat, since there are no external hooks into the OS.

This may be possible with https://github.com/wilix-te

[2021-07-12 13:42] lacymorrow commented on #20
All that said, I should be done with this feature this week, so you will be able to bind the "hide crosshair" action to any keyboard shortcut and can likely accomplish what you want with a macro.

[2021-07-12 14:32] lacymorrow opened #84 "Mouse event hooks"
Multiple people have requested the ability to hide or change the crosshair during ADS (right click).

I want to gauge the interest as well as understand how it would be most useful. I think the easiest would be to only implement on left/right/or middle click, but would this be sufficient?

[2021-07-12 14:33] lacymorrow commented on #20
@adeldueast I created #84 to track your feature request.

[2021-07-12 17:30] lacymorrow opened #85 "Option to prevent checking for updates"
@hennricko

[2021-07-12 17:31] lacymorrow commented on #85
This feature is complete in my dev branch, along with a plethora of updates. Should be up by this weekend.

[2021-07-12 19:12] lacymorrow opened #86 "Start CrossOver on system boot"

[2021-07-13 00:19] snowmanstevee opened #87 "Feature request: Ability for crosshair to follow mouse cursor"

[2021-07-13 01:58] lacymorrow commented on #87
@snowmanstevee:

Actually this probably is possible, I'll see about getting it into the release for this weekend maybe but most likely will be a few weeks before I get around to it.

[2021-07-13 05:19] ezn17 commented on #68
Sorry for the delay, Yes, i can't make the white background dissapear, also the bottons still there but i can't interact whit them, when i press **ctrl+alt+shift+x** the interface stills like an image, and i can't interact with the buttons until i press **ctrl+alt+shift+x** again.

[2021-07-13 05:24] ezn17 commented on #68
Sorry for the delay, Yes, i can't make the white background dissapear, when i press ctrl+alt+shift+x the interface stills like an image, and i can't interact with the buttons until i press ctrl+alt+shift+x again.

[2021-07-13 14:11] lacymorrow commented on #68
@ezn17 this is a new one, unfortunately you are the first person having transparency issues on windows at the moment, are you using the most recent version of the app? (it looks like it, but I have to ask)

[2021-07-13 17:09] adeldueast commented on #84
Yeah! So WHILE holding right mousebutton for example, crosshair is hidden, and comes back when releasing right mousebutton .

ty in advance

[2021-07-13 19:14] lacymorrow commented on #84
Would you ever need it to be on another bind like left or middle mouse?

[2021-07-13 19:15] lacymorrow commented on #84
Also do people ads on keyboard? Should there be a key bind for it?

[2021-07-13 19:18] adeldueast commented on #84
Tbh ive never heard of a player who ads with anything else than right mouse button .  Left is to fire right is to aim by default in any fps game. How ever in the option , you can *if u want* change that to be anything else but like i said by default its right button to aim, left to shoot.

[2021-07-14 16:48] lacymorrow opened #88 "Allow disabling of keybinds"

[2021-07-14 18:55] lacymorrow commented on #84
This is an alpha version of the next release and includes this feature, @adeldueast if you would be willing to test and provide any feedback it would be much appreciated:
https://github.com/lacymorrow/crossover/releases/tag/2.0.0-alpha

[2021-07-14 18:57] lacymorrow commented on #85
This is an alpha version of the next release and includes this feature, if you would be willing to test and provide any feedback it would be much appreciate:
https://github.com/lacymorrow/crossover/releases/tag/2.0.0-alpha

cc @hennricko

[2021-07-14 18:58] lacymorrow commented on #20
This is an alpha version of the next release and includes this feature, if you would be willing to test and provide any feedback it would be much appreciate:
https://github.com/lacymorrow/crossover/releases/tag/2.0.0-alpha

cc @ChosenDave

[2021-07-14 18:58] lacymorrow commented on #70
This is an alpha version of the next release and includes this feature, if you would be willing to test and provide any feedback it would be much appreciate:
https://github.com/lacymorrow/crossover/releases/tag/2.0.0-alpha

cc @pulsebladebonehead

[2021-07-15 02:11] adeldueast commented on #84
Wow that was quick. I just tried it and I have nothing bad to say, great job !

[2021-07-15 06:03] lacymorrow commented on #84
That's as good a review as I can ask for! I'll give it a few more days to settle and test out before I cut the actual release, thanks for contributing!

[2021-07-15 16:12] lacymorrow opened #89 "Does `CTRL+ALT+SHIFT+R` conflict with any other programs?"
If it does I'll consider changing the bind, or allowing it to be rebound, please comment below

[2021-07-16 04:42] #20 closed

[2021-07-16 04:42] #70 closed

[2021-07-16 04:42] #84 closed

[2021-07-16 04:42] #85 closed

[2021-07-16 04:42] #86 closed

[2021-07-16 04:42] #88 closed

[2021-07-16 19:39] #87 closed

[2021-07-17 00:31] ezn17 commented on #68
Yes, I have the latest version of crossover and it keeps looking like this.

[2021-07-17 03:09] lacymorrow commented on #87
@snowmanstevee This is implemented in the latest release

[2021-07-17 03:10] lacymorrow commented on #80
Is anyone still seeing these errors?

[2021-07-17 05:29] lacymorrow commented on #68
@ezn17 I can only assume it has something to do with the Windows 95 theme you are using, or potentially Windows 7 itself, since I have not personally tested it there. I can only recommend that you:
- Disable the non-standard theme
- Backup and reformat your PC in case there is a software issue
- Upgrade to windows 8/10 (free)

in that order, testing to see if the app works before going onto the ne

[2021-07-17 18:31] crwgregory opened #92 "[GAME] Rocket League: Doesn't work w/ fullscreen or with the AHK script"
Windows 10

[2021-07-18 03:12] khidir-o commented on #80
Just downloaded 2.1.1 and Defender didn't throw up anything.

[2021-07-19 01:14] ezn17 commented on #68
Ok, I'll try to do that. Thanks a lot.

[2021-07-19 01:58] lacymorrow commented on #92
That's unfortunate, sorry @crwgregory

[2021-07-19 01:58] #92 closed

[2021-07-19 01:59] lacymorrow commented on #92
#64

[2021-07-19 22:49] Syazvinski opened #93 "Does not work on mac M1"
<img width="242" alt="Screen Shot 2021-07-20 at 1 49 23 AM" src="https://user-images.githubusercontent.com/28970765/126237288-a167ec64-68d2-48c4-8363-af2a36f5a080.png">

Ive tried both files and both give me errors.

[2021-07-20 01:30] lacymorrow commented on #93
Dang. Thanks for testing, I'm assuming you tried both 'arm64' versions?
I appreciate you testing, I'll probably get an M1 mac for work at some point and will be able to debug but for now, if it's not being built correctly I can't fix it.

https://github.com/lacymorrow/crossover/releases/download/latest/CrossOver-2.1.1-arm64.zip
https://github.com/lacymorrow/crossover/releases/download/latest/Cross

[2021-07-20 01:33] lacymorrow commented on #80
I'm going to wait on 3 successful installs to call this 'fixed'.
I submitted this program to microsoft directly and they (hopefully) have whitelisted it.

To be clear, CrossOver is not malware and does not contain any malicious code.
I would know, I wrote it.

[2021-07-22 09:22] Syazvinski commented on #93
Yes, I have tried it on both versions. Im not sure what the problem is.  Let me know if you have new builds you want me to test.

[2021-07-24 13:57] broimded opened #94 "problem with crossover"
so, i was playing in roblox then accidently closed crossover, i opened it again press ctrl + alt +shift + x and the cross is not moving. its stuck in one place, i tried to reinstall.

[2021-07-24 13:58] broimded commented on #94
![image](https://user-images.githubusercontent.com/87903923/126870730-f3d256ff-ce27-44b5-b212-93001f58697a.png)

[2021-07-24 13:58] broimded commented on #94
this is happening its just stucking

[2021-07-24 15:43] broimded commented on #94
i placed  follow my mouse

[2021-07-31 16:08] snowmanstevee commented on #94
I am experiencing the same problem

[2021-07-31 16:59] broimded commented on #94
its working for me now

[2021-07-31 16:59] #94 closed

[2021-07-31 19:44] snowmanstevee commented on #94
how did you get it to work?

[2021-07-31 19:46] snowmanstevee opened #95 "Crosshair follow mouse does not work on Windows 10"

[2021-08-01 04:19] broimded commented on #94
i just reinstalled it and join any roblox game and started crossover. done

сб, 31 июл. 2021 г. в 22:44, snowmanstevee ***@***.***>:

[2021-08-02 15:17] lacymorrow commented on #95
This has been tested in Windows 10, are you using the latest version and is it the portable or the installed version @snowmanstevee ?

I'll have a new version in a few days that should allow me to debug easier.

[2021-08-02 16:02] snowmanstevee commented on #95
I am using 2.1.1 the installed version

[2021-08-02 16:28] lacymorrow commented on #95
The follow mouse behavior only turns on once you lock the crosshairs in place, by default using ‘Control+alt+shift+x’, are you locking the crosshairs?

I’ll look at this more later today

[2021-08-02 16:31] snowmanstevee commented on #95
Yes I am locking the crosshair but it still stays in the center of the screen when i move my cursor.

[2021-08-02 16:48] snowmanstevee commented on #95
Update: I somehow got it following my cursor

[2021-08-02 16:48] #95 closed

[2021-08-04 05:17] rosesware commented on #47
Not in stretch resolutions.

[2021-08-04 07:31] stefares commented on #47
That's from you. I stretch my res too.

[2021-08-08 02:25] strwly opened #97 "I keep getting this error "Unhandled promise rejection""

[2021-08-10 12:43] denusklo commented on #47
This won't work on CS 1.6...

[2021-08-10 16:47] abdhan commented on #47
**Counter Strike 1.6**

- Works in Windowed Mode.

- Not working in Full Screen Mode.

[2021-08-10 17:19] lacymorrow commented on #93
https://github.com/electron-userland/electron-builder/issues/5392#issuecomment-725779853

It looks like the latest preview of electron-builder supports building for M1 mac, although the builtin native node modules likely wont work (iohook, mouse hooks).

I'll need to update electron and work from there.

[2021-08-10 18:21] lacymorrow commented on #93
Could you test this version out @Syazvinski ?

https://github.com/lacymorrow/crossover/releases/tag/2.1.2-zeta

[2021-08-11 20:09] fullzero87 opened #98 "Allow assigning keyboard keys as "hide-on-ADS" key"
I am using left ALT key for ADS.

[2021-08-13 22:05] lacymorrow commented on #98
Yep, I had a feeling this would come up: https://github.com/lacymorrow/crossover/issues/84#issuecomment-879335813

I'll add this option in a release soon.

[2021-08-14 18:33] adeldueast commented on #98
well, here goes the exception 😂

[2021-08-16 01:43] Syazvinski commented on #93
I can confirm this works on the macbook air m1. The one made for intel mac was buggy and didnt change the crosshair alot of the time.

I tried the .dmg and it works perfectly. Everything updates on time and its not buggy or laggy.

Congrats!

[2021-08-25 16:54] fullzero87 commented on #98
Also, I use xbox gamepad. It'll be nice to have ability to bind gamepad button/trigger.

[2021-08-26 18:56] therock001 opened #99 "its not working with pubg steam"
hey guys

its not working with the pubg steam

plz help us

thanx

[2021-08-28 11:50] Maddremor opened #100 "Incompatibility with KDE"
I saw that incompatibility with KDE was discovered in #77. Is this just thing one has to accept, or is there a will/intention/possibility to make it work? Switching your DE is not something you just do casually.

[2021-08-28 13:03] Dinandpower opened #101 "my issue"
that almsot no one uses the greatest application

[2021-08-28 14:41] lacymorrow commented on #101
Love u @Dinandpower

[2021-08-28 14:43] lacymorrow commented on #100
Unfortunately it's an issue with Electron, not with CrossOver, so there's not much I can do to fix it from my end. Chances are it will just "be fixed" in a future update

[2021-08-28 15:02] Maddremor commented on #100
I understand. Do you mind leaving this issue open for other people with the same issue to find? (Also for me to get a notification on an eventual resolution)

[2021-08-31 17:57] lacymorrow commented on #100
Yep, this will stay open until it's fixed. When I have some time in the next few days I'll see about finding the bug/fix

[2021-09-03 14:11] nomis51 opened #102 "[Windows] Portable version crash upon start"
The portable version 2.1.2 simply crash 2 seconds after being started and the overlay doesn't even show up

[2021-09-09 18:10] BadSideofBright opened #103 "Any way to change the opacity of the background?"
Its just way to bright for me and I see nothing through it... :/

[2021-09-10 16:58] lacymorrow commented on #103
Have you tried locking the crosshair?
`CTRL`+`ALT`+`SHFT`+`X`

[2021-09-11 10:41] BadSideofBright commented on #103
I feel utterly and completely stupid... thanks xD

[2021-09-20 11:17] z-f-s opened #104 "This is the BEST on-screen crosshair app !!! (Lighter Crosshairs)"
There are so many crosshair and their colors, but ... why is there no choice of white? For example, at the usual dot - Dot Outlined and Dot Simple. Really need white, please.

[2021-09-22 19:25] lacymorrow commented on #60
I'm bumping the max size by 25% (up to 125px) as a band-aid in the meantime

[2021-09-22 19:51] #103 closed

[2021-09-26 00:31] Rai-ST commented on #47
**Call of Duty Black Ops Cold War**

- ✔ Works in `Windowed` `Windowed Fullscreen` `Multi-Monitor` mode<br>
- ❌ Doesn't work in `Fullscreen` mode<br>
- ❔ `AutoHotKey` not tested<br>

[2021-09-27 05:01] G-Rowell opened #105 "Stolen work from you!"
Hi,

your repo here,

Has been stolen & re-uploaded by the GitHub user: https://github.com/5R33CH4

Here is their repo in which they've stolen your work, and attributed it to themselves: https://github.com/5R33CH4/OneShot

They also have a GitHub org, where they likely also have some stolen work: https://github.com/tesseract-org.

Checkout their all their personal repos...

I'm sorry to bring you

[2021-09-27 07:54] 5R33CH4 commented on #105
Well kido, first learn coding before accusing . see the difference between the codes of one shot and crossover. Oneshot is based on an older version of crossover with much more crosshairs than what they offered at that time.

[2021-09-27 08:15] G-Rowell commented on #105
Downloading a repo.....

removing all evidence of the original author, and re-branding it as your own....

with absolutely no attribution to the original project....

well that's just theft.

---

First learn coding?
I'm a senior university student & staff, I think I know coding?

[2021-09-27 14:29] lacymorrow commented on #105
@G-Rowell Thanks for the heads-up.

@5R33CH4 I'll state this again in your repo, but it's in poor taste to modify someone's source code, and redistribute it without any sort of attribution or note of the original creator.

You're essentially using my code, logo, image assets, and documentation while explicitly removing all credits to original authors of the images as well as myself. It's a little

[2021-09-28 07:14] G-Rowell commented on #105
@lacymorrow

Well said, couldn't have written a better response myself

my apologies again for bringing this headache to you.

---

Sadly I don't think this user has learnt, they're trying to hide their theft now that I've pointed it out:

https://github.com/elzabrowser/elza/issues/8

---

I have a lot of free time currently, hence my investigation, do you have any suggestions for me regarding thi

[2021-09-28 19:24] SegoItCh commented on #105
Yo, will you fix/close other issues here?

[2021-09-30 03:33] lacymorrow commented on #105
@SegoItChI'm actively working on improving CrossOver, is there a specific feature or issue you would like to see worked on?

[2021-09-30 08:50] SegoItCh commented on #105
@lacymorrow I mean close fixed issues and which not issues at all, I just love when everything is clean and sorted

[2021-09-30 20:20] lacymorrow commented on #105
Yep, I'll clean up the issues a bit more. Cheers!

[2021-09-30 20:20] #105 closed

[2021-10-01 16:54] The-Minecraft-Scientist opened #106 "Implement Fullscreen Overlay on MacOS"
I was looking around and found [this](https://github.com/electron/electron/pull/11599) issue on the Electron github. Would it be possible to implement overlays for fullscreen apps on MacOS using this feature? I know it was deprecated at one point but there is an issue that states otherwise:
https://github.com/electron/electron/issues/24939

[2021-10-06 02:08] lacymorrow commented on #106
I'll give it a shot tonight, thanks @The-Minecraft-Scientist!

[2021-10-06 03:20] lacymorrow commented on #104
Why no white? Good question, mainly because I didn't make any of the crosshairs and I use a red or green dot :)

Ask and you shall receive though, I have a caveman's understanding of editing photos, so I've made some off-white versions of the colored crosshairs and named them `Light`.

See the latest release: https://github.com/lacymorrow/crossover/releases/latest

[2021-10-06 03:22] lacymorrow commented on #106
I had this working a looong time ago, looks like toggling the dock icon in/visible when the app is locked is what broke this feature initially, check it out in the latest release: https://github.com/lacymorrow/crossover/releases/latest

Thanks again @The-Minecraft-Scientist!

[2021-10-06 03:22] #104 closed

[2021-10-06 03:22] #106 closed

[2021-10-06 08:43] dhabak777 opened #107 "Electron error in updating to v2.1.3"
After installing the v2.1.3 update I get this error on launching. Did a clean install as well. Same problem.
![electron error](https://user-images.githubusercontent.com/25349853/136169619-b2e65517-eb24-4a7f-8a00-1d67eb4293df.PNG)

[2021-10-06 12:38] OrangGila38 commented on #107
Same

[2021-10-06 12:49] dhabak777 commented on #107
Try to download v2.1.2 (from the electron website) till this error is fixed. That's what I'm doing. make sure to disable automatic update after u install.

[2021-10-06 16:23] lacymorrow commented on #107
I'm actively working on this, will likely deploy 2.1.4 as a revert

[2021-10-06 16:30] dhabak777 commented on #107
Take your time, Lacy. Is it possible for you to keep the higher pixel count update from 2.1.3 into 2.1.4? Really want to try it out. Love crossover. There's just nothing quite as good out there.

[2021-10-06 18:12] lacymorrow commented on #107
This has been fixed in v2.1.4, please go ahead and update to the latest release: https://github.com/lacymorrow/crossover/releases/latest

cc @dhabak777 @OrangGila38 @marcmascarell

[2021-10-06 22:12] #107 closed

[2021-10-06 22:13] #101 closed

[2021-10-06 22:13] #99 closed, assigned to nobody

[2021-10-06 22:13] lacymorrow commented on #97
I think I've gotten everything fixed, you can give v2.1.5 a spin: https://github.com/lacymorrow/crossover/releases/latest

[2021-10-06 22:14] #89 closed

[2021-10-06 22:15] lacymorrow commented on #80
Since I've heard no other reports, I'm going to close this.

[2021-10-07 06:15] dhabak777 opened #108 "Feature Request: Ability for the crosshair to lean left and right."
Recently most FPS games have a lean feature. Some have it more prominent than others (like Siege). It would be lovely if somehow the crosshair would tilt 45 degrees left when we press Q and 25 degrees right when we press E. Obviously, it should be toggle-able so people who don't want the leaning feature don't have to use it.

I have attached a photograph in siege of how it looks currently.
![Scree

[2021-10-08 05:26] dhabak777 commented on #108
I've learnt that most games don't go above 25ish degrees. 45 degrees would be insane. Hope this image helps.
![ideal lean degree - Copy](https://user-images.githubusercontent.com/25349853/136502943-9f50ca2b-1d0e-4233-8aeb-a4a2d05a7751.PNG)

[2021-10-10 13:45] ISYHACK opened #109 "A JavaScript error occurred in the main process"
when i run a program i get this error how can i fix it
https://i.stack.imgur.com/Vjan7.png
Error: Cannot find module 'electron-updater'

[2021-10-26 19:33] lacymorrow opened #110 "Ability to save customized crosshair settings as "presets""
Via C.B.

[2021-11-07 07:58] bunkbail commented on #100
+1 this as well. I was the one who filed the issue on #77. I just can't live with another DE. KDE is just too good now. Hoping that you can find a fix for this.

[2021-11-07 09:18] bunkbail commented on #100
Oh btw, forgot to mention, crossover isn't compatible with KDE, it's incompatible with Kwin. You can still use KDE if you're using a different windows manager like Mutter or XFWM.

[2021-11-08 03:52] bowiprabono commented on #47
Phasmophobia
✔ Works in Windowed and Fullscreen mode

[2021-11-10 03:43] lacymorrow commented on #45
Unhandled Promise Rejection
HttpError: 403
"<?xml version=/"1.0/" encoding=/"UTF-8/"?>/n<Error><Code>SignatureDoesNotMatch</Code><Message>The request signature we calculated does not match the signature you provided. Check your key and signing method.</Message><AWSAccessKeyId>AKIAIWNJYAX4CSVEH53A</AWSAccessKeyId><StringToSign>AWS4-HMAC-SHA256/n20211103T175237Z/n20211103/us-east-1/s3/aws4_request/n

[2021-11-10 15:11] MIK33EY commented on #45
Hi Lucy,
Sorry to just contact you out of the blue and be a complete unknown person sending you an email but…
I’m Bit baffled by this email I received — I’m not a developer. Can you explain what this error message email means - see below.
Could the signature mismatch be from changing my GitHub username?

Regards,
Michael

[2021-11-13 05:11] lacymorrow commented on #45
Unhandled Promise Rejection
HttpError: 502
"<!DOCTYPE html>/n<html>/n  <head>/n    <meta http-equiv=/"Content-type/" content=/"text/html; charset=utf-8/">/n    <meta http-equiv=/"Content-Security-Policy/" content=/"default-src 'none'; base-uri 'self'; connect-src 'self'; form-action 'self'; img-src 'self' data:; script-src 'self'; style-src 'unsafe-inline'/">/n    <meta content=/"origin/" name=/"r

[2021-11-13 05:14] lacymorrow commented on #45
Hi @MIK33EY ,
Sorry you received those emails, they're totally legit, just me keeping notes of what errors occur in my program, Crossover.
It looks like you may have subscribed to updates about the app, which is why you're getting emails. It should be a single click to "unwatch" in GitHub. :)

Cheers, and thanks for using Crossover,
Lacyn

[2021-11-15 01:02] liemle82 commented on #47
Escape From Tarkov
✔ Works in Windowed Fullscreen mode
❌ Doesn't work in Fullscreen mode

[2021-11-16 17:37] sarequl opened #111 "does this work on valorant?"
does this work on valorant?
I didn't find valorant on the list.

[2021-11-16 18:17] Blakerunner opened #112 "Support for image overlay"
I was trying some custom crosshairs to create a much more interesting tanking overlay with the intent of the overlay covering my full screen at 1080p. However I can't seem to get this size of the crosshair to work, it scales down.

I was hoping either to assist in how I could do this, or that if this would be a feature that may be implemented?

[2021-11-16 18:25] lacymorrow commented on #112
I'll think about this, technically a fullscreen overlay is outside the scope of this project, but I can see why it might be useful.

There are a slew of issues with how this would work at different resolutions, if I added this feature it would need to be an option separate from the crosshair.

Check back in a couple weeks @Blakezik

[2021-11-16 18:28] lacymorrow commented on #111
CrossOver should work on most (if not all) DirectX and OpenGL games, Valorant included.
Most likely it will only work in `Borderless` or `Windowed Fullscreen` modes.

Once you've tried it, make sure to add it to the list please!

[2021-11-16 18:28] #111 closed

[2021-11-16 18:33] lacymorrow opened #113 "Support gamepad inputs for keyboard shortcuts"
@fullzero87 on Aug 25

[2021-11-16 19:53] sarequl commented on #111
I have added it to the list.
please check the pull request.

[2021-11-16 20:47] Blakezik commented on #112
Thanks for the reply @lacymorrow

Yes, I assumed this would be a specific option that allows for a transparent image to replace the crosshair.
The way I see it, it would be up to the user who created the crosshair to ensure it works for whatever resolution they are using.

Big fan. Thanks again.

[2021-11-18 07:48] dhabak777 commented on #108
Hey @lacymorrow! I hope you're doing well. I've been looking forward to the v3.0 as you've selected a real nice set of update for it. I know there are no promises as you don't release buggy updates, but what time do you hope to release it? Just so that I don't keep checking the page every 2 hours XD.

[2021-11-18 10:21] akUsername34 opened #115 "Performance issues in Dead By Daylight"
Whenever I use the crosshair I get very noticeable input lag, I don't know what else to call it, I drag my mouse around for example and it takes that tiny extra millisecond for my character to move around completely, same goes for key presses and it's very detrimental to my gameplay, I also disabled that option that apparently causes performance issues and though it helped a tiny bit, it's still q

[2021-11-20 23:52] lacymorrow commented on #115
Thanks for bringing this up @akUsername34,
Can you tell me what operating system you're using?
In the CrossOver system settings can you try disabling Hardware acceleration?

You'll need to quit and relaunch the app after changing these settings.

[2021-11-21 01:54] akUsername34 commented on #115
I'm using Windows 10 Pro and I already tried disabling hardware acceleration, didn't help that much

[2021-11-21 16:33] lacymorrow commented on #115
Are you using any of the "Mouse hooks" features like "Hide on ADS" and "Follow Mouse"?

[2021-11-22 04:13] akUsername34 commented on #115
No I'm not using any of these features

[2021-11-23 04:48] #108 closed

[2021-11-23 06:13] lacymorrow commented on #98
This has been added in the latest release (v2.4.0) https://github.com/lacymorrow/crossover/releases/latest

[2021-11-23 06:13] #98 closed

[2021-11-23 06:15] lacymorrow commented on #108
The squeakiest wheel gets the grease @dhabak777 :)

This has been added in the latest release (v2.4.0) lacymorrow/crossover/releases/latest
Give it a shot and let me know if anything breaks!

[2021-11-23 06:19] dhabak777 commented on #108
Will do @lacymorrow . Thank you so much for adding the feature so quick. Will update you if there is any problem over here in a day or two max.

[2021-11-23 06:21] dhabak777 commented on #108
@lacymorrow uh oh, that javascript error from previous is blocking the install.
![dfgdfgdfg](https://user-images.githubusercontent.com/25349853/142979096-c9a26b89-f36d-4a9a-a0a9-976e7be794d7.PNG)

[2021-11-23 10:11] Janaue opened #117 "crash on windows"
hi

I have windows 10 [version 10.0.17763.2300] and I use CrossOver-Portable-2.4.0.exe but when i click to launch i get this

<img width="407" alt="2021-11-23 11_09_40-Error" src="https://user-images.githubusercontent.com/10972636/143005892-ba45c559-3c07-4626-98b7-50a027ada628.png">

[2021-11-23 10:49] MuppetGizmo commented on #117
experiencing the same issue as you

you aint alone on this one

[2021-11-23 14:36] ThatRedDragon opened #118 "Crossover installation doesn't work."
![image](https://user-images.githubusercontent.com/88072951/143044007-e9c4cde0-3b2a-4c6d-a189-fd2504037c02.png)
I get this error every time I run the exe file.

[2021-11-23 17:05] ThatRedDragon commented on #118
No problem, thanks for responding.

On Tue, Nov 23, 2021, 12:00 PM Lacy Morrow ***@***.***> wrote:

[2021-11-23 17:14] dhabak777 commented on #108
Take your time, man. Enjoy the vacation. I'm sure we all can wait for a while.

[2021-11-23 17:24] lacymorrow commented on #108
@dhabak777  I'm uploading what I hope to be a fixed version, should take about 10 minutes but would you mind giving it a test when it's up here? https://github.com/lacymorrow/crossover/releases/tag/v2.4.1

[2021-11-23 17:25] lacymorrow commented on #118
@ThatRedDragon  I'm uploading what I hope to be a fixed version, should take about 15 minutes but would you mind giving it a test when it's up here? https://github.com/lacymorrow/crossover/releases/tag/v2.4.1

[2021-11-23 17:28] ThatRedDragon commented on #118
yeah I'll test it out
I'll let you know if it works

On Tue, Nov 23, 2021, 12:25 PM Lacy Morrow ***@***.***> wrote:

[2021-11-23 17:29] dhabak777 commented on #108
On it, Boss. Will tell you if it's working or not in 10 mins of you uploading.

[2021-11-23 17:36] lacymorrow commented on #118
It's up now, thanks @ThatRedDragon . If you can, test out the "Tilt" action as well, let me know what you think

[2021-11-23 17:36] lacymorrow commented on #108
It's up now, thanks @dhabak777 <3

[2021-11-23 17:39] lacymorrow commented on #115
@akUsername34 I'm stumped as to what could be causing these issues, I'm on Windows 10 for my gaming rig and have never had any issues with performance unless I was using a mouse event feature.

I'm going to keep this open and try to get to the bottom of this, but for now I don't have an answer, sorry :/

[2021-11-23 17:40] ThatRedDragon commented on #118
alr Im gonna install the version u put up and tell you if it works

On Tue, Nov 23, 2021, 12:36 PM Lacy Morrow ***@***.***> wrote:

[2021-11-23 17:43] lacymorrow commented on #117
I'm uploading what I hope to be a fixed version, would you mind giving it a test to see if it works as expected? https://github.com/lacymorrow/crossover/releases/tag/v2.4.1

[2021-11-23 17:45] dhabak777 commented on #108
@lacymorrow  Yup, it's working like a charm now. The lean animation is also quite smooth unlike a lot of other crosshair apps which just change the angle without a transition.

Also, would be really really nice if you could give a toggle option in the next release as a lot of games now like pubg and siege people use Toggle lean and so you can't use hold lean as it might unlean you in game or somet

[2021-11-23 17:46] ThatRedDragon commented on #118
works very well, thanks for updating

[2021-11-23 17:48] lacymorrow commented on #108
@dhabak777 so some games use toggle rather than hold for lean?
Got it 👍

Thanks for testing this out, I really appreciate your patience and assistance.

[2021-11-23 17:49] lacymorrow commented on #118
@ThatRedDragon Thanks for flagging the error and for helping me test this out, soo much appreciated.

[2021-11-23 17:49] #118 closed

[2021-11-23 17:49] lacymorrow commented on #117
This is fixed in the latest release: https://github.com/lacymorrow/crossover/releases/latest

[2021-11-23 17:50] #117 closed

[2021-11-23 17:56] dhabak777 commented on #108
Yeah, most games give you a toggle and hold option for leaning. Some like COD and BF don't as in them the lean occurs whenever you aim-down-sight from a corner. But the games where you can lean at will, the option is mostly provided. So we might also need it in CrossOver to make it better for more players.

About patience, not even a thing. If anything you were extremely fast in taking up communit

[2021-11-23 18:26] lacymorrow commented on #81
I added the ability to disable auto-updates, but errors should be handled better to prevent things like #109, #118, #117

[2021-11-23 22:00] #109 closed

[2021-11-23 22:01] lacymorrow commented on #113
https://github.com/ungoldman/gamepad-tester

[2021-11-24 03:39] lacymorrow commented on #108
@dhabak777 Thanks so much for the donation ❤️
 It shows appreciation and keeps me excited about this project (which is a labor of love). Cheers 🍻

[2021-11-24 19:32] dhabak777 commented on #108
@lacymorrow You're welcome. :-)

[2021-11-25 23:56] richmailYT opened #119 "Compile"
What do you use to compile everything?

[2021-11-26 16:36] lacymorrow commented on #119
‘yarn build:release’ is what I use on my Mac to build everything. If you’re
on Linux or windows you may not be able to build for all systems. There’s
‘yarn build:win’ and other options for individual systems.

On Thu, Nov 25, 2021 at 18:56 richmail ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2021-11-27 13:00] rknDA1337 commented on #47
CS:GO / Counter-Strike: Global Offensive
✔ Works in Windowed
❌ Doesn't work in Fullscreen mode
✔ **Works in Fullscreen mode with ahk script** - Tested in MM, trusted mode, a few games. Made my own crosshair since at 1440p (I don't usually play at this resolution, don't yell) **the current crosshairs get quite blurry due to their small standard size.**

Perhaps a dive into integrating vector/svgs f

[2021-11-29 20:07] richmailYT commented on #119
how do you use `yarn:build-release`? like, install yarn and set that up, structure, ect

[2021-11-30 07:09] lacymorrow commented on #119
Oof, good question. What system are you on?
On a mac I install brew and run `yarn` then try to `yarn build` for each OS. If it fails, I install what's missing in homebrew and retry. I would recommend checking the electron-builder docs for your system.

[2021-11-30 21:44] richmailYT commented on #119
okay, thanks!

[2021-11-30 21:44] #119 closed

[2021-12-03 22:41] daynashaw opened #120 "Core dump on Fedora (Silverblue)"
Happens with both the RPM and the AppImage.
I tested in a standard Fedora Workstation install and it works properly.
Fedora Silverblue has many of it's system files read only. Perhaps that is contributing to the problem?

**Setting: Disable GPU
App ready
Set crosshair: static/crosshairs/Actual/leupold-dot.png
[28439:1203/142906.418082:FATAL:gpu_data_manager_impl_private.cc(445)] GPU process isn't

[2021-12-05 22:58] bob04609 commented on #68
I have exactly the same problem in Windows 7 pro 64-bit.  The app background is non-transparent white. Running v2.4.1, just downloaded. Has it been concluded that this in indeed a Windows 7 issue and that the app is in fact incompatible with windows 7? Does anyone have it working with Windows 7?

[2021-12-05 23:54] daynashaw commented on #120
Hello :)

Tried this on a full install and the problem persists. That meaning I still have the crash on a standard fedora install.

[2021-12-06 05:03] lacymorrow opened #121 "SVG Support"
Crossover doesn't cut it on high-res monitors, support vector images or use canvas

[2021-12-06 05:03] lacymorrow commented on #47
@rknDA1337 Working on it, tracking in #121

[2021-12-06 05:05] lacymorrow commented on #68
@bob04609 are you using any sort of non-standard theme? I'll try to do some testing in Windows 7 this weekend.

[2021-12-06 05:06] lacymorrow commented on #120
Good to know! I really appreciate the console dump as well, cheers 🍻

[2021-12-06 06:23] bob04609 commented on #68
No. Absolutely standard Windows theme included in Windows 7. Nothing fancy or 3rd party.  Currently using "Windows Classic", but it's the same in the "Windows 7 Basic" theme. White, non-transparent, background. Everything else seems to work just fine. Thanks.

[2021-12-06 06:59] bob04609 commented on #68
I tried it on a Windows 10 machine and it worked fine. I also noticed on the Windows 7 machine that when you resize the cross-hair it leaves the old one in place (but in grey). You can get the old one to fade out by opening and closing the resize menu a few times.

[2021-12-06 07:05] ezn17 commented on #68
I´m now using windows 7 ultimate, and the problem is solved, now crossover works correctly, i had this problem whit windows 7 home premium. I hope that helps you.

[2021-12-07 10:03] Killer-931 commented on #47
Escape from Tarkov

No Longer Works anymore, game detects it and ejects you from the game.
Can reconnect with CrossOver disabled.

[2021-12-07 12:31] rknDA1337 commented on #121
One source would be Kenney.nl's currently used croddhair pack as it contains svg editions too.

Other sources of svg crosshairs? I thought we could help listing some, if you know or find others. Could submit your own packs of crosshairs too.

**On a separate note;** this could potentially mean more customization per crosshair, since vectors are just code in the end.

Example: If every crosshair us

[2021-12-08 00:44] lacymorrow commented on #121
Love these ideas, keep them coming!

[2021-12-08 00:45] lacymorrow commented on #47
Wooow, really?? @Killer-931 do you know if you had any Crosshair actions enabled? (hide-on-ads, tilting, follow-mouse)

[2021-12-08 00:49] lacymorrow commented on #68
Thanks for the digging guys, I'm not sure why but seems like Windows 7 Home just has issues with electron.

[2021-12-08 16:01] Deiecee commented on #47
Yes; did the same for me! started throwing me out of the game about three days back, with crossover enabled; once disabled, it allowed me back in to the game. When it kicks you, the screen says that the game has detected crosshair application.

[2021-12-08 20:24] lacymorrow commented on #47
It's a sad day :(
This is officially the first game to actively block CrossOver so I can only expect that more games will follow.

Thanks for flagging @Killer-931, @Deiecee

[2021-12-08 20:25] lacymorrow commented on #121
Original comment:

1.3-1.6-green high-res

It's not by any means perfect or fancy, but at only 250x250 pixels it works great (64x64 is the default I think), I set the size in CrossOver to 50 for a non-blurry good size for me (you do you). Uneven numbers = higher risk of blur? (correct me if I'm wrong).

edit: removed svg suggestion wall of text, SVG support (vector) is being worked on/in the pipe,

[2021-12-08 20:26] lacymorrow opened #122 "Bug: Dragging custom crosshair doesn't work when running CrossOver as administrator"
https://github.com/lacymorrow/crossover/issues/47#issuecomment-980595106

[2021-12-09 17:57] rknDA1337 commented on #121
Thanks! I got one more just from reading my own text, I can't believe I didn't think of it at the time;

Regarding my extra idea of:

**Improvement to idea:**

Being able to edit the SVG's code themselves (without breaking them; perhaps only allow saving them as a copy/with new name - if it was edited) is enough to both allow custom styling _and_ any other changes an advanced user would like to ma

[2021-12-09 23:43] lacymorrow commented on #68
By the way, do you know if you were running 32-bit or 64-bit?

[2021-12-10 00:54] ezn17 commented on #68
Windows 7 ultimate 64 bit version.

[2021-12-10 03:19] lacymorrow commented on #79
There have been reports of users not being able to load Escape from Tarkov with CrossOver running. Quitting CrossOver and restarting the game works.

This will likely be the first of a few games that lock out this app.
https://github.com/lacymorrow/crossover/issues/47#issuecomment-987762466

[2021-12-10 05:46] lacymorrow commented on #108
I added the ability to toggle in the latest release, will push it out via autoupdate in a few days: https://github.com/lacymorrow/crossover/releases/latest

[2021-12-10 06:46] dhabak777 commented on #108
Just tested it. Works perfectly. Also no issues with the Installer this time (for me, at least). You may go ahead for the full release.

[2021-12-12 12:33] Vladimir1165 opened #124 "Counter-Strike Global Offensive does not work."
please help does not work in Counter-Strike Global Offensive. There is a dot on the monitor, but not in the game.

[2021-12-12 19:33] UnregisteredUsername opened #125 "Opacity"
Whenever I lock the crosshair in place the background turns black at a 100% opacity.
![crossover](https://user-images.githubusercontent.com/77406949/145726760-46f03c57-674c-40a5-97b8-a1b94bcb410f.png)
I'm using Gentoo Linux on the 5.10.76 kernel on DWM.

[2021-12-13 02:51] nipnipj commented on #124
Set the game to borderless window.

[2021-12-13 07:14] SegoItCh opened #126 "Can you add presets?"
I have different gun positions in games, can you add presets for better user experience?

[2021-12-13 18:28] lacymorrow commented on #125
Oh no! This seems to be the same issue shown in #77 and #100 , it's likely an issue with the window manager and Electron/Chromium window transparency, but I don't have the resources to fix OS-specific issues like this. Unfortunately my recommendation is to try another window manager or distro.

[2021-12-13 18:32] lacymorrow commented on #126
This is being worked on, expected over the next month, thanks for flagging!
Duplicate of #110

[2021-12-13 18:32] #126 closed

[2021-12-13 18:34] lacymorrow commented on #124
Thanks @nipnipj 😄
As he mentioned @Vladimir1165, CrossOver does not handled fullscreen windows in most games. You'll need to run in "Borderless" or "Windowed Fullscreen" modes. I'll leave this open until I get a response, in case there was another issue at play.

[2021-12-16 16:12] nomis51 opened #127 "[Feature Request] Detect the focused window to show/hide overlay"
Would be nice if the overlay could show/hide itself based on the focused window. So, when you're in the game, it shows up. And when you Alt + Tab to another window (discord, browser, etc.) it hides, instead of just staying under the mouse, and having us manually closing it and restarting it when going back to the game. Not a big deal, just a nice-to-have feature.

Also, that could be used to apply

[2021-12-18 20:53] UnregisteredUsername commented on #125
Oddly enough, I just tried it again at now it works. Maybe I messed with my compositor and forgot about it.
For future reference - I'm using Gentoo with the picom compositor.

[2021-12-18 20:53] #125 closed

[2021-12-21 16:05] lacymorrow commented on #127
I really like this idea, however as of this writing I don't believe there's a good way to get the currently focused application from within Electron. There is only a method to detect if CrossOver is focused, not other application windows.

I'll leave this open, hopefully an API will be added in the future for it. This ticket mentions using a native extension but I'm not interested in maintaining o

[2021-12-21 16:31] nomis51 commented on #127
Yes, there's no way (that I know) to effectively do this in pure electron. You need to interop with a C/C++ library.
There's one project I've used once called [electron-overlay-window](https://www.npmjs.com/package/electron-overlay-window).

Basically, the C library let you attach the overlay (crossover electron window) to the target window (e.g. a game) as a child, so you can "talk" with the targ

[2021-12-21 19:38] lacymorrow commented on #127
I haven't heard of that project, at first glance it seems like it could accomplish what you want (and potentially fix the issue of fullscreen support #62), however it will require a significant lift to even vet if it will work. I'll eventually have time to work on this, but if you want this feature badly enough to help we may be able to get it done sooner 😄

[2021-12-21 19:41] lacymorrow commented on #127
This may require the settings window to be rethought, since it is a child of the main CrossOver window.

[2021-12-21 19:54] nomis51 commented on #127
For #62 , it won't work. You can't put in any way a window on top of a true fullscreen window (at least on Windows). Users have to run the game in borderless fullscreen, but never true fullscreen. The reason why some overlays / tools works on a true fullscreen game, is because they inject themselve in the game process using DX11 (or any other renderer used by the game). The best example of that is

[2021-12-21 20:10] lacymorrow commented on #125
Thanks for updating!

[2021-12-21 23:52] nomis51 commented on #127
Here's a demo of something simpler then electron-overlay-window that can be added without rewriting/re-thinking the app workflow. It is more suited for the problem we have (detect window and change settings, overlay depending on what is focused).

![win32-api-js-small](https://user-images.githubusercontent.com/25111613/147011271-8845c626-8893-4369-a455-3f62036170b6.gif)

And here's the code :

[co

[2021-12-22 22:04] nomis51 commented on #127
I did some testing and here is a even simpler and better version giving more informations about the focused window (could have more, but I think that's enough) :

![crossover-window-detection-simple-small](https://user-images.githubusercontent.com/25111613/147158202-48b024b2-5660-42be-b07f-b385958ee326.gif)

It's not using FFI, neither win32-api, but instead uses edge-js to interop with a .NET lib

[2022-01-02 08:02] SegoItCh opened #128 "[Game: Tarkov] CrossOver not working in Tarkov"
Do you know workaround how they detect crossover? process name? it's just image on top of screen, scums with this function in monitor using this, these are really cheats, what is the problem to provide everyone with the opportunity to use the point for approximate aiming, especially since it does not mean anything(you shoot actually from gun, not in center of screen like in most trash games)

[2022-01-02 11:04] Vladimir1165 commented on #124
Thanks a lot guys! Everything is already working perfectly! Great program!

[2022-01-05 03:22] Aex12 commented on #120
Same error on Fedora Workstation 35 (KDE Spin, using X11)

[code]

[2022-01-05 14:46] lacymorrow commented on #120
I'm really not sure what's going on here, I would maybe try to run the https://github.com/sindresorhus/electron-boilerplate and see if you have the same issue. If not, it's a bug with CrossOver

[2022-01-07 19:10] BoomsiFTW opened #129 "Keyboard Actions (Hide on keypress) does not support "Alt" key"
The Keyboard Actions (Hide on keypress) does not support "Alt" key.
For example if you want to take a screenshot with alt+print, it will always gets crosshair within the print.

[2022-01-11 18:54] lacymorrow commented on #129
Yep, I made an intentional decision when adding the accelerator field to tkambler/electron-preferences to disallow meta-only keyboard shortcuts.

I'll consider updating this, I opened a ticket for it here: https://github.com/tkambler/electron-preferences/issues/138

[2022-01-23 13:07] PSNRigner commented on #80
Hey, just reporting I got that error while downloading the latest portable build

[2022-02-06 22:37] xzuyn opened #130 "[Arch: AMD] Issues with FreeSync/GSync"
Specifically in Totally Accurate Battlegrounds (I have not tried with other games as I only need this program for that).

When the cross-hair is on screen my game will feel terrible, but the frame rate is about the same (MAYBE 1-3fps drop compared the program closed). I looked on my monitors overlay, and while the cross-hair is hidden (program closed, or holding the toggle key to hide) my monitors

[2022-02-08 02:24] xzuyn commented on #130
my "fix" for this currently is disabling FreeSync, but that just ignores the problem.

[2022-02-18 11:46] ArseBandit opened #131 "[OS: Mac] Not supported on Monterey 12.0.1"
Unfortunately cannot run the app on Monterey as getting error:

You cannot open the application "CrossOver" because this application is not supported on this Mac.

This is on an Intel 2018 Mac Mini I7.

[2022-02-21 04:44] lacymorrow commented on #130
Thanks for flagging this, I really don't know how I'd approach fixing this as it's likely an Electron issue, and I don't have an AMD graphics card to test. I'll leave this open until I can figure it out.

I appreciate you testing with hardware accel. off 👍

[2022-02-21 04:46] lacymorrow commented on #128
I'm really not sure how they detect these things, I'd assume a hash and a process name. If you'd like to test I can build a version with a different name and software ID

[2022-02-21 04:46] #124 closed

[2022-02-21 04:46] lacymorrow commented on #124
Cheers 🍻

[2022-02-21 04:52] lacymorrow commented on #131
Super weird! Are you using the x64 version?
I would try both the zip and the dmg files, I'll do more testing as I've just upgraded.

[2022-02-22 20:31] TianliangCai opened #132 "Windows 11 BUG Report"
Unhandled Promise Rejection
Error: net::ERR_NAME_NOT_RESOLVED
    at SimpleURLLoaderWrapper.<anonymous> (electron/js2c/browser_init.js:105:6536)

处理器	Intel(R) Core(TM) i7-10700K CPU @ 3.80GHz   3.79 GHz
机带 RAM	32.0 GB
设备 ID	FCB105B5-C0A9-4402-8D29-A9A76B098CC5
产品 ID	00330-80000-00000-AA168
系统类型	64 位操作系统, 基于 x64 的处理器
笔和触控	没有可用于此显示器的笔或触控输入

版本	Windows 11 专业版
版本	21H2
安装日期	‎22.‎2.‎17
操作系统版本	22000.527

[2022-02-22 20:56] lacymorrow commented on #132
Thanks for reporting! I’ll look at it this week.

On Tue, Feb 22, 2022 at 15:32 TianliangCai ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-02-28 18:38] Chase-V commented on #128
will be cool, lets check?

[2022-03-01 03:08] #132 closed

[2022-03-06 12:41] diwqwe opened #133 "[OS: Mac] Cannot `toggle to show` settings after hiding"
i downloaded crossover arm64.zip and also.dmg when ever I use toggle hide it will hide but when i use toggle hide again it won't show

[2022-03-07 19:21] lacymorrow commented on #127
This is a solid start @nomis51, I appreciate you taking the time to do all of this testing. I still need to setup multiple setting 'profiles'/'presets' (#110) and wire everything up.

Can you elaborate on what you mean with `Ask the user for inputs`?

[2022-03-07 19:27] lacymorrow commented on #133
That sounds like a pretty bad bug!

Thanks for flagging @diwqwe , can I get a little more information about the machine? I'm assuming you're on an M1 Mac, can you check in `About this mac` to see which version of macOS you're running?

I don't have an M1 mac to test, but maybe this is something simple I can fix.

[2022-03-07 19:45] nomis51 commented on #127
Basically ask the user to tell the app : Hey this program here e.g. CS GO, i want to register it and apply custom settings to it, instead of using the global / default settings of the overlay. When I say ask, I mean, the user hit a shortcut to auto create a profile, or go in the app settings to manually create a profile or something like that.

A bit like the LG Hub app you can create (manually he

[2022-03-07 19:57] lacymorrow commented on #47
Escape from Tarkov issues are being tracked here: https://github.com/lacymorrow/crossover/issues/128

@Killer-931, @Deiecee

[2022-03-07 20:09] lacymorrow commented on #45
Unhandled Promise Rejection
Error: net::ERR_NAME_NOT_RESOLVED
at SimpleURLLoaderWrapper. (electron/js2c/browser_init.js:105:6536)

处理器 Intel(R) Core(TM) i7-10700K CPU @ 3.80GHz 3.79 GHz
机带 RAM 32.0 GB
设备 ID FCB105B5-C0A9-4402-8D29-A9A76B098CC5
产品 ID 00330-80000-00000-AA168
系统类型 64 位操作系统, 基于 x64 的处理器
笔和触控 没有可用于此显示器的笔或触控输入

版本 Windows 11 专业版
版本 21H2
安装日期 ‎22.‎2.‎17
操作系统版本 22000.527
体验 Windows 功能体验包

[2022-03-07 20:10] lacymorrow commented on #132
Moved info to: https://github.com/lacymorrow/crossover/issues/45

[2022-03-07 20:30] lacymorrow commented on #127
Got it. This is kind of a heavy feature so I'll do my best to get working on it soon.

[2022-03-07 20:44] nomis51 commented on #128
I think Tarkov uses BattlEye as it's anti-cheat software and this one is going to set suspicious any process running with the topmost flag, which is the case of crossover.

Kinda sad, cause this is not the case with easy-anti-cheat, or at least it allows non-intrusive topmost process to run along the game.

[2022-03-10 16:17] Chase-V commented on #128
Make it, pls, I will test it.

[2022-03-11 06:11] lacymorrow commented on #128
Here you go, give it a shot: https://github.com/lacymorrow/crossover/releases/tag/v2.5.2

[2022-03-11 17:03] Chase-V commented on #128
![Screenshot 2022-03-11 200058](https://user-images.githubusercontent.com/38985553/157913065-76bb0d80-10e9-4875-9a41-d2c398cf7636.png)
It doen't launch =(
Neither installed nor portable works. I have uninstalled previously installed versions.

[2022-03-11 20:27] lacymorrow commented on #128
Well shoot, I'll fix it later today, sorry about that.

[2022-03-11 21:34] lacymorrow commented on #128
Try this one?
https://github.com/lacymorrow/crossover/releases/tag/v2.5.3

[2022-03-12 13:19] Chase-V commented on #128
With this build it launches, works for 5-20 minutes, then game detects like "external crosshair", not like "crossover x" in original build.

[2022-03-12 13:22] Chase-V commented on #128
But, at least, with this build game allows to connect to the game and play with crosshair for some time

[2022-03-13 12:44] AdnanInayat opened #134 "Custom image in crosshair images"
Is there any way to add your custom image to the library for crosshair?

[2022-03-13 16:02] lacymorrow commented on #134
Yep, you should be able to click and drag any image to the settings or crosshair window.

[2022-03-14 01:36] LuciferReignsInMyMind opened #135 "Cross with outline?"
Hello
Is it possible to add an outline to this cross?
And the other crosses in the menu?
An outline makes the sight more clear.

https://imgur.com/a/unX67Hz

[2022-03-14 02:46] lacymorrow commented on #134
I'm also adding a more obvious button in the settings, you can see it in the latest release, 2.5.5: https://github.com/lacymorrow/crossover/releases/tag/v2.5.5

[2022-03-14 02:46] #134 closed

[2022-03-14 20:59] lacymorrow opened #136 "*** Release Notifications - Comment to be updated of the latest releases"
I need folks to test pre-release versions for regressions before I push anything live to automatically update.

Anyone interested?

Comment here

[2022-03-14 21:01] lacymorrow commented on #136
New Pre-release, v2.5.5: https://github.com/lacymorrow/crossover/tree/v2.5.5

- Add button to reset settings
- Add button to choose crosshair in settings
- Add button to choose custom crosshair (instead of just click/drag)

- Adding updates to electron-preferences
- Update Electron to v12
- Update dependencies

[2022-03-21 03:08] bossa98765 opened #137 "Not supported on High sierra 10.13.6 says need 11.0 or later"
Is there a way to fix this or am I downloading the wrong one ?
Im on mac btw.

[2022-03-24 01:02] lacymorrow commented on #137
I'm not 100%, definitely try both `dmg` and `zip` files to see, and message me here if you still can't get it working.

I'm assuming it's an Electron bug but we'll see

[2022-03-25 02:09] lacymorrow commented on #136
Release 2.6 coming soon
- notifications
- sound
- dark/light mode
- auto-update improvements

[2022-03-25 05:22] cznb666 opened #142 "有没有全屏下使用crossover的教程"
ahk导入脚本不会，请问有没有教程，谢谢了

[2022-03-25 07:23] lacymorrow commented on #142
Unfortunately this is a problem with "electron" not crossover.
I recommend windowed fullscreen mode

[2022-03-25 07:24] lacymorrow commented on #142
Duplicate of #106

[2022-03-25 16:12] diwqwe commented on #133
yeah im running it on a m1 mac

[2022-03-25 17:46] lacymorrow commented on #133
Sorry, I don't really know what the issue could be, and don't have any Mac silicon to test on.

I just posted debugging instructions in the readme if you are comfortable with the terminal and want to dig further:
https://github.com/lacymorrow/crossover#debugging

[2022-03-27 04:56] lacymorrow opened #144 "Error when opening second window"
Unhandled Promise Rejection
Error: EPERM: operation not permitted, rename 'C:/Users/io/AppData/Roaming/CrossOver/preferences.json.225010009' -> 'C:/Users/io/AppData/Roaming/CrossOver/preferences.json'

[2022-03-27 07:27] Nikolai-RR opened #145 "Error: EPERM: operation not permitted"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19044
Locale: en-US

[2022-03-27 20:46] Vladimir1165 opened #146 "CrossOver-2.7.4 does not work properly"
Hello!
I have two operating systems on one computer 2 x Windows 10 (64).
On the first Win10 installed CrossOver-2.4.1 works perfect no problems!
On the second Win10 installed CrossOver-2.7.4 doesn't work properly!
The game is not running, CrossOver turns on, turns off (bind to space), but it won't turn back on (bind to space)?
Please give me a link to the version  CrossOver-2.4.1, I don't have the

[2022-03-28 06:02] dblack850 commented on #145
Same issue here.

[2022-03-28 13:14] lacymorrow commented on #146
Thanks for reporting, I've pulled that version from the auto-updates. I recommend rolling back to the last working version, 2.5.5: https://github.com/lacymorrow/crossover/releases/latest

[2022-03-28 13:15] lacymorrow commented on #145
Thanks for reporting, I've pulled that version from the auto-updates. I recommend rolling back to the last working version, 2.5.5: https://github.com/lacymorrow/crossover/releases/latest

[2022-03-28 15:52] lacymorrow commented on #136
2.7.4 release was a bust, could use more folks to test.

[2022-03-28 16:57] Vladimir1165 commented on #146
Thanks for the answer! Installed version 2.5.5 the situation has not changed! Please give me a link to the version CrossOver-2.4.1,it works great for me! Thanks!

[2022-03-30 18:19] lacymorrow opened #147 "Typescript Support"
Add Typing and VSCode hints

[2022-03-31 09:21] Vladimir1165 commented on #146
I solved the problem myself! Ported v2.4.1 to another Win 10, and everything worked without problems!
version 2.4.1 is the most stable, and the dimensions are two times smaller 300Mb.

[2022-03-31 21:31] lacymorrow commented on #146
I'm glad you were able to get a working version!
In the future you can find downloads for all versions here: https://github.com/lacymorrow/crossover/releases

If you have any interest in new features or improvements, be sure to check back when I can post an updated version that works.

[2022-03-31 22:37] #142 closed

[2022-04-01 16:33] IGOROLOxd opened #148 "importatn issue"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.22000
Locale: es

[2022-04-01 20:16] lacymorrow opened #149 "Duplicate shadow windows do not update when preferences changed"

[2022-04-01 21:03] lacymorrow commented on #148
Current suggestion is to downgrade to v2.5.0: https://github.com/lacymorrow/crossover/releases/tag/v2.5.0

Check back next week for a fixed version with new features!

Duplicate of #146

[2022-04-01 21:03] #148 closed

[2022-04-05 02:11] lacymorrow commented on #149
Fixed in `dev`

[2022-04-05 02:11] #149 closed

[2022-04-05 02:20] lacymorrow commented on #61
I'm planning to implement saved presets in #110 , this feature will probably be a keybind for a saved preset.

[2022-04-05 06:03] lacymorrow opened #151 "Ability to edit SVG code within menu"
From a comment by @rknDA1337:

[2022-04-05 06:04] lacymorrow commented on #121
I've refactored the app and updated dependencies in prep for v3.0.0, SVG support has been added and will be available in the next version.

I still need to add SVG versions of existing crosshairs and `stroke`/`fill` SVG edit options

[2022-04-05 07:29] lacymorrow commented on #137
Any update?

[2022-04-05 07:30] #145 closed

[2022-04-06 21:01] #37 closed

[2022-04-06 21:01] #121 closed

[2022-04-06 21:01] #16 closed

[2022-04-06 21:01] #60 closed

[2022-04-06 21:51] lacymorrow commented on #112
@Blakerunner I posted a pre-release version 3.0 with an option to set the app size and image larger.

The image displayed can be made huge, but not fullscreen. Do you need the ability to display the image at fullscreen?
Check it out and let me know if this works for your issue:
https://github.com/lacymorrow/crossover/releases/tag/v3.0.0-0

[2022-04-06 21:54] lacymorrow commented on #133
@Blakerunner I posted a pre-release version 3.0 with a potential fix, let me know if it works: https://github.com/lacymorrow/crossover/releases/tag/v3.0.0-0

[2022-04-06 22:15] lacymorrow commented on #137
@bossa98765  I posted a pre-release version 3.0 with a fix for this, check it out and let me know how it goes: https://github.com/lacymorrow/crossover/releases/tag/v3.0.0-0

[2022-04-09 22:10] lacymorrow opened #152 "CrossOver commercial versions"
I has recently come to my attention that some folks have been selling CrossOver on the Windows store for profit as a completely ripped off version of my code. **I am not the developer of CrossOver: Crosshair master and have worked with Microsoft to have it removed.**

It was violating my copyright by not posting the source code or crediting me. Unfortunately, because I would like more legal contro

[2022-04-11 03:01] lacymorrow commented on #144
Fixed maybe? https://github.com/lacymorrow/crossover/releases/tag/v3.0.0

[2022-04-11 03:01] lacymorrow commented on #136
Pre-release v3: https://github.com/lacymorrow/crossover/releases/tag/v3.0.0

[2022-04-11 03:01] lacymorrow commented on #112
https://github.com/lacymorrow/crossover/releases/tag/v3.0.0

[2022-04-11 03:02] lacymorrow commented on #133
Can you try https://github.com/lacymorrow/crossover/releases/tag/v3.0.0?

[2022-04-11 03:02] lacymorrow commented on #137
https://github.com/lacymorrow/crossover/releases/tag/v3.0.0

[2022-04-11 03:03] lacymorrow commented on #152
v2.7.4 onward is not licensed for commercial use: https://github.com/lacymorrow/crossover/releases/tag/v3.0.0

[2022-04-11 03:16] lacymorrow commented on #131
Can you try https://github.com/lacymorrow/crossover/releases/tag/v3.0.0?
It __should __ work

[2022-04-11 03:17] lacymorrow commented on #130
It may be worth trying https://github.com/lacymorrow/crossover/releases/tag/v3.0.0

[2022-04-11 05:26] Sykunae opened #153 "CrossOver Error (`setBadge`) | PLEASE UPDATE TO THE LATEST VERSION"
---

	TypeError: windows.setBadge is not a function:
	TypeError: windows.setBadge is not a function
    at NsisUpdater.<anonymous> (C:\Users\hrvoj\AppData\Local\Temp\27UaVUQfGUYgaOqe4G5VUkyhLMU\resources\app.asar\src\main\auto-update.js:59:13)
    at NsisUpdater.emit (events.js:315:20)
    at NsisUpdater.dispatchUpdateDownloaded (C:\Users\hrvoj\AppData\Local\Temp\27UaVUQfGUYgaOqe4G5VUkyhLMU\resour

[2022-04-12 01:12] m7mdssw1 opened #154 "wait is"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19043
Locale: en-US

[2022-04-12 07:05] DominicanRD13 opened #155 "???"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19044
Locale: es

[2022-04-12 15:00] Eccomi21 opened #156 "exec format error"
Distro: Arch
Shell: zsh
Has been made executable with `chmod +x CrossOver-3.0.0-i686.pacman`
Error zsh:
[code]
File Permissions:
[code]
What am i missing?

[2022-04-12 16:55] lacymorrow commented on #156
Unfortunately I can't really offer linux support as I only really test on a few different distros. This seems like it may be a system problem, but just to be sure you could try to see if an older version like https://github.com/lacymorrow/crossover/releases/tag/v2.4.1 works.

I updated some packages and changed my build process around then, so it could have changed something.

[2022-04-12 16:57] lacymorrow commented on #153
CrossOver 3.0.0-4 had some errors, can you try v3?
https://github.com/lacymorrow/crossover/releases

[2022-04-12 18:54] lacymorrow commented on #154
I'm really sorry about this, I believe I pushed a bug in version 2.7.4 that actually broke the auto-updater.

The fix is to manually install v3.0.0: https://github.com/lacymorrow/crossover/releases/tag/v3.0.0

[2022-04-12 18:55] lacymorrow commented on #155
I'm really sorry about this, I believe I pushed a bug in version 2.7.4 that actually broke the auto-updater.

The fix is to manually install v3.0.0: https://github.com/lacymorrow/crossover/releases/tag/v3.0.0

[2022-04-12 18:55] lacymorrow commented on #153
I'm really sorry about this, I believe I pushed a bug in version 2.7.4 that actually broke the auto-updater.

The fix is to manually install v3.0.0: https://github.com/lacymorrow/crossover/releases/tag/v3.0.0

[2022-04-12 18:57] lacymorrow commented on #153
duplicate #153 #154 #155  #156

[2022-04-12 18:57] lacymorrow commented on #154
duplicate #153 #154 #155

[2022-04-12 18:57] #154 closed

[2022-04-12 18:57] lacymorrow commented on #155
duplicate #153 #154 #155

[2022-04-12 18:57] #155 closed

[2022-04-12 22:25] Eccomi21 commented on #156
Same Error, am very sad now. I switched from Windows to linux a few days ago and was like "THIS is the xhair overlay I shall use" but apparently I shall not, at least for now.

[2022-04-12 22:28] lacymorrow commented on #156
@Eccomi21 Have you tried some of the other package formats? This app works in most distros I have tested on.

[2022-04-12 23:38] xzuyn commented on #130
what does ai or blockchain have to do with a crosshair? its not even on april fools

[2022-04-13 04:51] lacymorrow commented on #130
Sigh... it was a bad joke I guess, absolutely nothing 😄

[2022-04-13 12:11] Eccomi21 commented on #156
@lacymorrow I did now, none of them work for me unfortunately. I was thinking about grabbing the windows version and trying to run it trough wine, which is bass ackwards but might work.

[2022-04-13 12:18] Eccomi21 commented on #156
Can confirm running the windows portable version trough wine works. It's not ideal, but it works. You could add that as a workaround in the readme if others encounter this problem too.

[2022-04-13 15:31] lacymorrow commented on #156
This doesn't sound like a great outcome, I'm going to keep this open as it should work.

Have you installed other `pacman` packages without issues?

[2022-04-13 15:34] lacymorrow commented on #156
@Eccomi21 What CPU does your computer have? It's likely an error due to invalid architecture.

Reading this: https://toolspond.com/handle-exec-format-error/

[2022-04-13 16:19] Eccomi21 commented on #156
An Intel i7 8700K, if it really was down to the CPU I'd assume I should've had problems under windows as well But it ran flawlessly there just one week prior.

I'm probably just going to try the x86_64.AppImage next. I'm sorry I can't help you out, with the Sourcecode available I feel like I should be able to figure out what's wrong myself. But my coding experience is very limited.

[2022-04-13 16:40] Eccomi21 commented on #156
@lacymorrow I'm a huge fkin Idiot. My smoothbrain went for everything that had .pacman at the end disregarding the actual architecture of the appimage provided. the x86_64.Appimage works flawlessly. Issue closed. Sorry for wasting your time.

[2022-04-13 16:40] #156 closed

[2022-04-13 16:43] lacymorrow commented on #156
Not a problem!
I'm just glad you got it working

[2022-04-13 16:51] lacymorrow commented on #130
Seems to be directly related: https://github.com/electron/electron/issues/3026

Does Radeon tool have an option to disable FreeSync for specific applications like GSYNC does?

[2022-04-13 16:55] #50 closed

[2022-04-13 18:43] xzuyn commented on #130
it does, but like I said in my second comment, that kinda just avoids the problem. if its a problem with electron itself, I get that you have no power in fixing it.

[2022-04-13 18:57] lacymorrow commented on #130
At this point, disabling CrossOver in Radeon aFreeSync and Nvidia GSync seems to be the only fix.

I'll add this to the readme and see if it is something I can indicate from the application side.

[2022-04-14 20:07] nomis51 commented on #153
Still happening to me in version 3.1.
Did a full clean (uninstalled manually the other version 2.7.4, remove anything remaining in app data).
First start is fine, on the second one it starts happening endlessly again.

I saw it's a bug coming from 2.7.4 that got into 3.0 "beta", but still happen to me in 3.1.

[2022-04-14 20:33] lacymorrow commented on #153
@nomis51 do you remember what the error you received was? I’m working on this now, it’s due to the windows store build

[2022-04-14 23:44] nomis51 commented on #153
it's the setBadge one, here the stack trace
[code]

[2022-04-15 15:16] mescalito opened #157 "error!"
---

	TypeError: Cannot read property 'setBadge' of undefined:
	TypeError: Cannot read property 'setBadge' of undefined
    at Object.setBadge (C:\Users\Polaris\AppData\Local\Programs\crossover\resources\app.asar\src\main\dock.js:5:35)
    at NsisUpdater.<anonymous> (C:\Users\Polaris\AppData\Local\Programs\crossover\resources\app.asar\src\main\auto-update.js:60:10)
    at NsisUpdater.emit (events.

[2022-04-15 18:58] lacymorrow commented on #153
I've updated things and added fixes in v3.1.5, check out https://github.com/lacymorrow/crossover/releases/latest

[2022-04-15 19:30] nomis51 commented on #153
Works perfectly!

[2022-04-15 20:16] lacymorrow commented on #153
THANK YOU for testing it out, I really appreciate your help @nomis51

[2022-04-15 20:17] lacymorrow commented on #157
Hi @mescalito I have just fixed this, please update to the latest version to fix: https://github.com/lacymorrow/crossover/releases/latest

Thanks for submitting your error! It's the only way I know if something's wrong.

[2022-04-15 20:17] #157 closed

[2022-04-15 23:19] DominicanRD13 opened #158 "help plz"
---

	TypeError: Cannot read property 'setBadge' of undefined:
	TypeError: Cannot read property 'setBadge' of undefined
    at Object.setBadge (C:\Users\Carlos Cordero\AppData\Local\Programs\crossover\resources\app.asar\src\main\dock.js:5:35)
    at NsisUpdater.onUpdateDownloaded (C:\Users\Carlos Cordero\AppData\Local\Programs\crossover\resources\app.asar\src\main\auto-update.js:51:7)
    at NsisU

[2022-04-16 01:16] mescalito opened #159 "another error"
---

	TypeError: Cannot read property 'setBadge' of undefined:
	TypeError: Cannot read property 'setBadge' of undefined
    at Object.setBadge (C:\Users\Polaris\AppData\Local\Programs\crossover\resources\app.asar\src\main\dock.js:5:35)
    at NsisUpdater.<anonymous> (C:\Users\Polaris\AppData\Local\Programs\crossover\resources\app.asar\src\main\auto-update.js:60:10)
    at NsisUpdater.emit (events.

[2022-04-16 03:39] lacymorrow commented on #158
@DominicanRD13 Thanks for flagging, please update to the latest version: https://github.com/lacymorrow/crossover/releases/latest

[2022-04-16 03:39] #158 closed

[2022-04-16 03:43] lacymorrow commented on #159
Thanks so much for flagging! This is fixed in the latest version: https://github.com/lacymorrow/crossover/releases/latest

[2022-04-16 13:12] mescalito opened #160 "error"
---

	Error: net::ERR_NETWORK_CHANGED:
	Error: net::ERR_NETWORK_CHANGED
    at SimpleURLLoaderWrapper.<anonymous> (electron/js2c/browser_init.js:105:6536)
    at SimpleURLLoaderWrapper.emit (events.js:315:20)

	---

	CrossOver 3.0.0
Electron 11.5.0
win32 10.0.19042
Locale: en-US

[2022-04-16 14:28] #159 closed

[2022-04-16 14:28] lacymorrow commented on #160
Thanks so much for flagging! This is fixed in the latest version: [lacymorrow/crossover/releases/latest](https://github.com/lacymorrow/crossover/releases/latest)

[2022-04-16 14:28] #160 closed

[2022-04-18 14:11] Eccomi21 commented on #136
I am interested in testing. let me know what you need/what features you need testing for

[2022-04-18 22:04] AngelKetch opened #161 "Ehhh This error is annoying me .. Can someone help me?"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19043
Locale: pt-BR

[2022-04-19 01:12] lacymorrow commented on #161
Hi, my apologies.
Please update to the latest version of CrossOver, this error has been fixed

Duplicate #153

[2022-04-19 01:45] Eccomi21 commented on #136
@lacymorrow glad to help if I actually can help. You probably don't even know how much I value this app. Used to try and install reshade on everything to use nopeelz reshade xhair which half the time got blocked by some overprotective anticheat. And since I can't contribute code I can at least ~~complain~~ give feedback.

[2022-04-19 01:51] lacymorrow commented on #136
Complaints are also welcome!

[2022-04-19 13:16] BreadSpriteBread opened #162 "Error when closing application"
Whenever I try to close or minimise the application the error pops up.

	---

	TypeError: Cannot read property 'showInactive' of undefined:
	TypeError: Cannot read property 'showInactive' of undefined
    at C:\Users\USER\AppData\Local\Programs\crossover\resources\app.asar\src\main\windows.js:357:19
    at each (C:\Users\USER\AppData\Local\Programs\crossover\resources\app.asar\src\main\windows.js:

[2022-04-22 16:24] not-Mercury opened #163 "Why cant i use it to MW3"

[2022-04-23 04:52] jaybeejoj0 opened #164 "."

[2022-04-23 04:54] #164 closed

[2022-04-23 13:36] AlexAlmuaini opened #165 "help, this happens everytime now"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.22000
Locale: en-GB

[2022-04-23 20:14] jaybeejoj0 opened #166 "keep getting error"
---

	TypeError: Cannot read property 'setBadge' of undefined:
	TypeError: Cannot read property 'setBadge' of undefined
    at Object.setBadge (C:\Users\jaylo.DESKTOP-8O433SU\AppData\Local\Programs\crossover\resources\app.asar\src\main\dock.js:5:35)
    at NsisUpdater.onUpdateDownloaded (C:\Users\jaylo.DESKTOP-8O433SU\AppData\Local\Programs\crossover\resources\app.asar\src\main\auto-update.js:51:7

[2022-04-24 00:39] lacymorrow commented on #166
This is fixed in the latest version!

On Sat, Apr 23, 2022 at 16:15 jaybeejoj0 ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-04-24 00:40] lacymorrow commented on #165
Fixed in the latest version

On Sat, Apr 23, 2022 at 09:37 AlexAlmuaini ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-04-24 00:42] lacymorrow commented on #163
This works in MW3 in Borderless or Windowed full screen modes

On Fri, Apr 22, 2022 at 12:25 not-Mercury ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-04-24 13:15] hackmehust opened #167 "Error"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.22000
Locale: en-US

[2022-04-25 13:21] NexusPlanet opened #168 "happens when i open crossover"
---

	TypeError: Cannot read property 'setBadge' of undefined:
	TypeError: Cannot read property 'setBadge' of undefined
    at Object.setBadge (C:\Users\allenlin0217\AppData\Local\Programs\crossover\resources\app.asar\src\main\dock.js:5:35)
    at NsisUpdater.onUpdateDownloaded (C:\Users\allenlin0217\AppData\Local\Programs\crossover\resources\app.asar\src\main\auto-update.js:51:7)
    at NsisUpdat

[2022-04-27 01:55] lacymorrow commented on #167
This has been fixed, please update to the latest version, my apologies.

[2022-04-27 01:55] #167 closed

[2022-04-27 01:55] lacymorrow commented on #168
Please update, duplicate #153

[2022-04-27 01:55] #168 closed

[2022-04-27 01:56] #163 closed

[2022-04-27 01:56] lacymorrow commented on #165
duplicate #153

[2022-04-27 01:56] #165 closed

[2022-04-27 01:56] lacymorrow commented on #166
duplicate #153

[2022-04-27 01:56] #166 closed

[2022-04-27 01:57] lacymorrow commented on #162
duplicate #153

[2022-04-27 01:57] #162 closed

[2022-04-27 02:20] lacymorrow opened #169 "[Feature] Resize crosshair while ADSing"

[2022-04-28 23:25] Ketoo34235 opened #170 "j"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19043
Locale: en-US

[2022-04-29 03:25] Ketoo34235 opened #171 "GRGDFGDFGFG"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19043
Locale: en-US

[2022-04-29 03:25] Ketoo34235 commented on #171
DFDFE

[2022-05-01 10:08] 4GodsBot opened #172 "CrossOver error"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19043
Locale: da

[2022-05-01 14:18] eddie3716 opened #173 "Error loading the CrossOver"
This error happens a lot, and has been happening for a few weeks now.  But I can still use the cross over application.

[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.22000
Locale: en-US

[2022-05-01 14:21] #173 closed

[2022-05-01 14:21] eddie3716 commented on #173
it looks like you fixed it in an update

[2022-05-01 19:07] Ketoo34235 opened #174 "لب"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19043
Locale: en-US

[2022-05-01 19:07] Ketoo34235 commented on #174
بلل

[2022-05-01 22:02] Ketoo34235 opened #175 "fgf"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19043
Locale: en-US

[2022-05-01 22:02] Ketoo34235 commented on #175
dfdf

[2022-05-02 03:41] lacymorrow commented on #175
Please update

On Sun, May 1, 2022 at 18:03 Ketoo34235 ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-05-02 03:42] lacymorrow commented on #174
Please update

On Sun, May 1, 2022 at 15:08 Ketoo34235 ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-05-02 03:42] lacymorrow commented on #173
Please update

On Sun, May 1, 2022 at 10:18 Eddie Wood ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-05-02 03:42] lacymorrow commented on #172
Please update

On Sun, May 1, 2022 at 06:09 4GodsBot ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-05-02 03:44] lacymorrow commented on #171
Please update

On Thu, Apr 28, 2022 at 23:26 Ketoo34235 ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-05-02 03:45] lacymorrow commented on #170
Please update

On Thu, Apr 28, 2022 at 19:26 Ketoo34235 ***@***.***> wrote:

--

Lacy Morrow
www.lacymorrow.com

[2022-05-02 14:02] Ketoo34235 opened #176 "error"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19043
Locale: en-US

[2022-05-02 15:29] CheeseDaDEMON opened #177 "."
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19044
Locale: en-US

[2022-05-02 21:35] lacymorrow commented on #175
Duplicate #153

[2022-05-02 21:35] #175 closed

[2022-05-02 21:40] lacymorrow commented on #176
Hi @Ketoo34235,

While I appreciate you flagging this error the first time, I don't appreciate the spam and abuse of the issue tracker by creating 5 separate issues, especially after I've commented on how to fix your particular problem.

The issue you are having has already been flagged in #153, making this a duplicate.
Please update your version of CrossOver to fix the error, as stated in the iss

[2022-05-02 21:40] #176 closed

[2022-05-02 21:41] lacymorrow commented on #170
Duplicate #153

[2022-05-02 21:41] #170 closed

[2022-05-02 21:42] lacymorrow commented on #171
Duplicate #153.

Please stop spamming your issues. If you would take 30 seconds to read, you would see that this is already fixed in the latest version. I apologize for the broken build, but spamming issues only creates more work for me, the sole developer of this FREE app.

[2022-05-02 21:42] #171 closed

[2022-05-02 21:43] lacymorrow commented on #174
Duplicate #153

[2022-05-02 21:43] #174 closed

[2022-05-02 21:44] lacymorrow commented on #177
This has been fixed. Please update to the latest version of CrossOver.

Duplicate #153

[2022-05-02 21:44] #177 closed

[2022-05-02 21:44] lacymorrow commented on #172
This has been fixed. Please update to the latest version of CrossOver.

Duplicate https://github.com/lacymorrow/crossover/issues/153

[2022-05-02 21:44] #172 closed

[2022-05-03 06:56] Daytrip-Society commented on #136
This project has improved head-clickability for me by a non-scientific nine thousand percent, give or take one. Any way I can lab-rat myself or my setup in the pursuit of making this cooler is alright by me.

Always running whatever the newest insider builds on Win11 are, and playing Fortnite (mostly) through the unofficial legendary-gl launcher, so I might catch some edge-cases of weirdness.

If

[2022-05-03 08:52] bossa98765 commented on #137
Yo! so it worked. Thank you so much! I didnt think you would ever respond but you prove me wrong.

[2022-05-03 14:21] Eccomi21 commented on #136
@Daytrip-Society I made a crosshair out of Shreks head and even that works surprisngly well if you keep replacing the enemies head with shrek and start clicking.

![unknown](https://user-images.githubusercontent.com/55301370/166469130-bd722b69-b717-4b52-9cfd-86c651fcb8d5.png)

However i made my own GIF because i really liked the 6 color blinking one, but find it easier to hipfire close range if i

[2022-05-03 14:46] Eccomi21 commented on #147
Since this is a good first issue, but i don't understand the issue, can you provide some more details what exactly you need? Hinting in VSCode as in snippets or intellisense/code completion style?

I'd like to help but don't know how, don't mind learning though if it is something i can work on in the background

[2022-05-03 16:43] lacymorrow commented on #137
Excellent!
Glad it worked, I built this for myself and I improve it to improve my development skills. It's awesome to see other folks using something I built for fun.

Make sure you use the latest release! v3.0.0 had a bunch of bugs.

https://github.com/lacymorrow/crossover/releases/latest

[2022-05-03 16:43] #137 closed

[2022-05-03 16:45] lacymorrow commented on #137
_(If you're on Windows, consider leaving a review for [CrossOver on the Windows Store](https://apps.microsoft.com/store/detail/crossover-crosshair-overlay/9MTD5ZLN7NL1?hl=en-us&gl=US))_

[2022-05-03 17:46] lacymorrow opened #178 ">>> ADD YOUR CUSTOM CROSSHAIR TO CROSSOVER"
Post or link your image in this thread to have it added as an option in CrossOver.

I can't guarantee I'll add them all, but I will consider every one posted.

[2022-05-03 17:52] lacymorrow opened #179 "Convert Kenney.nl Crosshairs to SVG"
Kenney.nl graciously provides over 200 crosshairs in different formats, however the SVGs are inside one big large SVG sprite.

- Download the kenney.nl crosshair pack here: https://www.kenney.nl/assets/crosshair-pack
- Using the SVG file, split the sprite into individually-named SVG files so they can be used within CrossOver
- Zip and upload

[2022-05-03 17:56] lacymorrow commented on #136
@Daytrip-Society I didn't know about `legendary-gl`, that's awesome!
I really only play Fortnite as well so I might consider trying it out in a Linux distro.

@Eccomi21 you guys are hilarious with your head-clicking. I received an email from someone who strictly uses the "Hello Kitty" crosshair for the same reason 😂

Could you guys post your computer specs here? OS + version and CPU

If you guys c

[2022-05-04 02:49] Eccomi21 commented on #136
@lacymorrow

OS: Windows 10 Kernel 10.0.19044
CPU: Intel i7-8700K (12) @ 5.000GHz

Yes i did switch back from arch, I admitted defeat. Interestingly enough it was way better for gaming, just everything else didn't work out in my favor. I wish I could've been an advocate for the Linux community here xD

[2022-05-04 14:19] andremelo90 opened #180 "portable version auto installing after closing"
after i close my portable session, it gets auto installed to appdata\local\programs\crossover

Was using CrossOver-Portable-2.5.0.exe, just tried the latest version 3.1.5 and the issue is gone

[2022-05-04 16:15] #180 closed

[2022-05-04 16:54] hallipr opened #181 "Cannot read property 'setBadge' of undefined"
App displays error message, but doesn't crash.

**Unhandled Promise Rejection**
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.22000
Locale: en-US

[2022-05-04 16:55] #181 closed

[2022-05-04 21:11] lacymorrow commented on #180
Thanks for flagging and updating to the latest version!

Sorry for the bug!

[2022-05-05 15:55] XmutanoX commented on #133
This bug is also happening with me and i'm using windows 10, the hotkey hides the program but doesn't show up again

[2022-05-09 17:14] Ketoo34235 opened #182 "يبيب"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19043
Locale: en-US

[2022-05-09 17:14] Ketoo34235 commented on #182
يبييب

[2022-05-10 02:46] lacymorrow commented on #182
Please update crossover to the latest version.

Duplicate #153

[2022-05-10 02:46] #182 closed

[2022-05-10 03:06] lacymorrow commented on #133
Make sure you're trying the latest release but can you post OS/Version/PC specs and your crossover settings you've changed?

If you reset the app with `CTRL/SHIFT/ALT/R` does the problem persist?

[2022-05-11 21:54] Meezy98 opened #183 "Getting this whenever I launch crossover."
---

	TypeError: Cannot read property 'setBadge' of undefined:
	TypeError: Cannot read property 'setBadge' of undefined
    at Object.setBadge (C:\Users\Kymon\AppData\Local\Programs\crossover\resources\app.asar\src\main\dock.js:5:35)
    at NsisUpdater.onUpdateDownloaded (C:\Users\Kymon\AppData\Local\Programs\crossover\resources\app.asar\src\main\auto-update.js:51:7)
    at NsisUpdater.emit (event

[2022-05-11 22:23] lacymorrow commented on #183
Please update to the latest version, this has been fixed.

Duplicate of #153

[2022-05-11 22:23] #183 closed

[2022-05-12 19:58] yoganlava opened #184 "Use IOHOOK mousedown event in fullscreen?"
Made ADS crosshair resizing for #169 in my [fork](https://github.com/yoganlava/crossover). Doesn't seem to work in csgo when using the AHK script to enable it in fullscreen. Any way to do it? Haven't looked at the code too much indepth yet as this was more of a 2 minute addition. `mousemove` seems to work, however, when in fullscreen as follow mouse works for crosshair.

[2022-05-12 20:04] yoganlava commented on #184
Does work windowed though, so thats fine. Haven't tested other games but should work for both windowed and fullscreen windows/borderless

[2022-05-12 20:17] yoganlava commented on #184
Seems to be more of a question for https://github.com/wilix-team/iohook

[2022-05-13 20:34] lacymorrow commented on #184
That's really odd that the `mousemove` function works but not the `mousedown`, I would assume there's some issue with DirectX taking over that specific mouse feature, but go ahead and post in [wilix-team/iohook](https://github.com/wilix-team/iohook) to see if someone has more insight.

To be honest this project has grown quite a bit to still not support fullscreen, but at the same time I believe n

[2022-05-17 12:37] kyle-go commented on #64
@lacymorrow I found a way to work in fullscreen mode.
You can find the code in the link blow.

[https://github.com/electron/electron/issues/26350#issuecomment-1128813997](https://github.com/electron/electron/issues/26350#issuecomment-1128813997)

[2022-05-17 20:44] lacymorrow commented on #64
@kyle-go What OS and Electron version are you using?

Your example code is almost identical to what I use with crossover already, unfortunately.

I would LOVE to find a workaround to this issue though.

[2022-05-20 00:36] grandturtle opened #187 "crossover failed"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.22000
Locale: en-US

[2022-05-27 19:48] Gamele000 opened #189 "crossover error"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19044
Locale: it

[2022-05-27 20:58] lacymorrow commented on #187
Thanks for reporting!
This has been fixed in the latest version of crossover, please update

[2022-05-27 20:58] #187 closed

[2022-05-27 20:58] lacymorrow commented on #189
Thanks for reporting!
This has been fixed in the latest version of crossover, please update

[2022-05-27 20:58] #189 closed

[2022-05-27 21:02] lacymorrow commented on #153
Duplicates: #189, #187

[2022-05-28 07:28] Aleth1 opened #190 "Some sort of error dont know what to do"
---

	TypeError: Cannot read property 'setBadge' of undefined:
	TypeError: Cannot read property 'setBadge' of undefined
    at Object.setBadge (C:\Users\aleth\AppData\Local\Programs\crossover\resources\app.asar\src\main\dock.js:5:35)
    at NsisUpdater.onUpdateDownloaded (C:\Users\aleth\AppData\Local\Programs\crossover\resources\app.asar\src\main\auto-update.js:51:7)
    at NsisUpdater.emit (event

[2022-05-28 23:39] XmutanoX commented on #133
sorry for the late response, i've been using the lastest release on a windows 10 x64 lastest build, i've tried using without any configuration change whatsoever and after changing hotkeys to rule out incompatibility on it, also reset the app to default config after and the problem persisted.

I also noticed that if i press the "lock crosshair in place" keybind while it's hidden the crosshair shows

[2022-05-29 05:18] lacymorrow commented on #190
This is fixed in the latest version, please update!

Duplicate #181

[2022-05-29 05:18] #190 closed

[2022-06-03 06:39] rknDA1337 opened #191 "Ability to star/favorite crosshairs and show them separately, mock-up inside"
_**enhancement/suggestion**_

_& my continued thanks for this very useful application **xoxo**_

I did a quick mock-up, it's pretty straight-forward, the star is meant to be a toggle-icon - it's shown only when hovering a crosshair _(but always shown on ALL already favorited crosshairs, not just in the "Favorite" section! Important for UX)_

![crossover-favs-mockup](https://user-images.githubuserc

[2022-06-04 11:52] SebastienDuruz commented on #47
Planetside 2
✔ Works in Windowed and Windowed Fullscreen
❌ Doesn't work in Fullscreen

[2022-06-07 00:24] Jofre-Problem opened #192 "Feature Request: Add crossover to AUR"
I think it will be really great idea to add this to the aur repository. Mostly because when installing the .pacman file, and when doing a system update, the update **conflicts** with CodeWeavers Crossover, causing a system error.

[2022-06-07 12:31] Electrognome opened #193 "Does not work on windows."
Does not work on windows, no matter if it's portable or not.
First it launched fine. I adjusted hotkeys to my liking, then tried them out and not a single one works, (default hotkeys worked with no issues).
I tried to reset everything to default settings, reset button just freezes the whole thing without resetting anything. Closed it trough task manager, launched it again, my mouse cursor is now d

[2022-06-08 05:09] lacymorrow commented on #193
Which version of windows, and which version of Crossover?

[2022-06-08 23:53] ClumsyBuddy opened #194 "Heroes and generals bug"
Cross hair works great in other games but for some reason it does not show on top of the window in heroes and generals in window mode (not fullscreen window, actual windowed mode). I have to run the AHK script to get it to show ontop and on top of that I have to click the button everytime I click out of the window and back in.
System: Windows 10
Screen Resolution: 2560x1440
Application: Heroes and

[2022-06-09 00:30] lacymorrow commented on #191
I love this idea, it'll be a few weeks before I can add it but it would be pretty simple if you're interested in making a PR yourself. Definitely adding for consideration.

[2022-06-09 00:33] lacymorrow commented on #194
See #64 , CrossOver does not work in most games in `Fullscreen` Mode.

A gif would be great though, also if you're using a version besides the latest let me know which

[2022-06-09 01:37] ClumsyBuddy commented on #194
I am sorry I can understand how what I said can be misinterpreted. I put heroes and generals in windowed mode. Not bordless windowed mode. Just windowed mode and the crosshair still doesn't show on top unless I use the AHK script. I will make a gif tomorrow demonstrating what I mean.

[2022-06-11 16:23] colazzz2o7 opened #195 "Reset all settings issue"
Hello , ive been using the crossover for a little while at this point , its my go to crosshair and i really enjoy it , there is 1 big issue though , every 10 - 15 minutes i accidentally click the "lock crosshair in place " or other features and it ends up popping up the crosshair and getting me killed as i cant move , ive tried to add a different bind to it but then i accidentally click the reset

[2022-06-11 16:41] tomvanschaijk opened #196 "Allow toggle vs hold settings"
The program allows you to toggle the crosshair on/off when pressing a button, or to hide when HOLDING right mouse. It's, however, not possible to toggle the crosshair on/off with the right mouse button. I'm using the program with Escape From Tarkov (which DOES work, contrary to what some users apparently reported), and use right mouse toggle to go in ADS or out. Being able to hide the overlay when

[2022-07-14 18:43] agussjgod opened #199 "asd"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19044
Locale: es

[2022-07-15 05:18] lacymorrow commented on #199
https://github.com/lacymorrow/crossover/issues/153

[2022-07-15 05:18] #199 closed

[2022-07-15 05:26] lacymorrow commented on #193
No response, I personally use Crossover on windows. stale.

[2022-07-15 05:26] #193 closed

[2022-07-16 16:35] KingJoey21 opened #200 "Hide/Show Not Working in 3.1.5"
It will hide but not return when pressing the same key bind.

Secondly, I can't get this to work in any full-screen game mode, I have to play in windows borderless to use.

[2022-07-16 16:39] KingJoey21 commented on #133
I started a new issue before I found this but in 3.1.5 on windows 10 I am also having the bug where I can hide it but it will not return with the same key bind.

I also mentioned I couldn't use this in any full-screen application, I am forced to play in windows borderless, is there a fix to this?

[2022-07-16 17:08] KingJoey21 opened #201 "CrossOver.exe Installs every time it's launched."
Not sure if this is what it's supposed to do but I came from the windows store to here trying to fix the show/hide bug. but now every time I launch the crossover.exe it has to reinstall, then I get an error so I attempt to launch it a second time then it reinstalls and works. This happens every time.
I am on windows 10.

[2022-07-16 19:24] Matei123sidepulasamaiei opened #202 "issue crosshairx"
[code]

---

CrossOver 2.7.4
Electron 12.2.3
win32 10.0.19044
Locale: en-US

[2022-07-17 07:28] lacymorrow commented on #201
You're reinstalling the app over and over, once you've installed CrossOver.exe you should have it installed by now

[2022-07-17 07:28] #201 closed

[2022-07-17 07:32] lacymorrow commented on #202
Pls update
https://github.com/lacymorrow/crossover/issues/153

[2022-07-17 07:32] #202 closed

[2022-07-17 14:22] Daytrip-Society commented on #136
@lacymorrow

Back again, had a fairly unfun series of events keep me from devoting time the past month or so, and notifications for this account got borked somehow on top of it. Fix attempted, we'll see how this goes 😅

As requested, system deets:
Acer Aspire A515-51
OS: Windows 11 build 10.0.22622
CPU: Intel i5-8250U
GPU: Intel UHD 620

Upped to 20GB RAM, and with that plus an SSD swap it almost

[2022-07-18 09:40] Pogoed opened #203 "How to Remove the background of CrossOver?"
I Can't Fhiger out how to Remove the Background of CrossOver.

[2022-07-18 09:44] Pogoed commented on #203
I solved it just press "CTRL+SHIFT+ALT+X"

[2022-07-19 03:03] #203 closed

[2022-07-19 03:05] lacymorrow commented on #200
The first problem is a big issue, and I don't think you're the first to report

The second issue is #64 which is a known issue.

[2022-07-19 03:14] lacymorrow commented on #195
This is a huge issue, so when I have some time I'll try to take a more in-depth look.

I already have built the way to rebind the `reset`, but I'm worried about people re-binding the `reset` action and then get into a situation where they aren't able to get back to a stable state.

[2022-07-19 03:19] lacymorrow commented on #196
Appreciate the feature request, I'll do it when I can find some time

[2022-07-19 05:57] lacymorrow commented on #133
@KingJoey21 Thanks for confirming, looks like this isn't a Mac-specific issue

The fullscreen issue is known #64

[2022-07-22 11:16] uber6 commented on #120
I'm' having the same issue with the latest version on Fedora 36 Workstation

[code]

[2022-07-24 20:38] nomis51 opened #204 "Windows 11 22H2 FPS stability issues"
Can't really explain why yet, but I've been experiencing FPS stability issues on Windows 11 22H2 when CrossOver is running vs when it's not.

I've been using the app for months on Windows 10 (multiple versions) with zero issue. Yesterday, I upgraded to Windows 11 (fresh installation, not junk remaining), and it had the 21H2 update. Played the same game I always play with CrossOver running, no issu

[2022-07-26 04:06] Totoro381 opened #205 "."

[2022-07-28 23:15] Mannyvenus opened #206 "Does not work with Dayz"

[2022-07-29 11:02] AndrazPustotnik commented on #64
Any news here yet? :/

[2022-07-30 03:48] lacymorrow commented on #204
Thanks so. so much for the detailed write-up, I haven't had a ton of time recently to work on the project but I'll look into this soon.

[2022-07-30 03:49] lacymorrow commented on #205
Please update, it's fixed
Duplicate #181

[2022-07-30 03:49] #205 closed

[2022-07-30 03:51] lacymorrow commented on #206
Can you provide more information about OS, specs, settings?

[2022-07-30 03:52] lacymorrow commented on #64
This is the issue blocking things: https://github.com/electron/electron/issues/26350#issuecomment-1128813997

[2022-07-30 16:16] Mannyvenus commented on #206
Pc sepcs? I7 10th gen, 2080 Ti, its nothing to do with the system it’s
simply probably not compatible for that single game,

On Sat 30 Jul 2022 at 04:51, Lacy Morrow ***@***.***> wrote:

[2022-08-03 10:42] AndrazPustotnik commented on #64
I digged into it a little bit. And since fullscreen mode gives app the ability to use the graphic card in fully it means that in order to do overlay on top of that, some kind of gpu library would need to be used like DirectX or OpenGL. It makes whole problem a lot more complicated and if we would be using it on top of video game we may have problems with anti cheat stuff... :/
Ask Discord how they

[2022-08-09 23:39] shittymacuser opened #207 "Does not work for Mac M1 Monterey (12.5)"
Tried just about every version (both the arm64.zip and arm64.dmg). Still comes up with "Damaged and cannot be opened" (image 1). I have already changed my settings so that apps can be downloaded from anywhere (image 2).

Pls help, want to beam kids on rust
<img width="266" alt="Screen Shot 2022-08-10 at 9 40 27 am" src="https://user-images.githubusercontent.com/110946210/183780060-72fd0894-e1c5-44

[2022-08-12 04:06] Yoyopizzacat commented on #207
I got it to work

Open terminal and type: sudo xattr -r -d com.apple.quarantine /Applications/CrossOver.app
Type in your password and now you can use CrossOver!

[2022-08-12 04:08] Yoyopizzacat commented on #207
Change “Applications" to wherever you downloaded CrossOver

[2022-08-12 16:59] lacymorrow commented on #64
Most likely a proprietary native extension, which would be hard for me to support as the sole dev on the project.

[2022-08-12 17:01] lacymorrow commented on #206
No worries, just trying to check all the boxes.
Are you running in borderless or windowed mode, or fullscreen?

[2022-08-14 17:00] Mannyvenus commented on #206
Fullscreen

On Fri 12 Aug 2022 at 18:01, Lacy Morrow ***@***.***> wrote:

[2022-08-17 22:30] Merudo opened #208 "[Feature Request] Option to customize the built-in crosshair"
I think it would be great to add an option to customize the built-in crosshairs.

Specifically, I would the option to

- Rotate/mirror the crosshair, so an horizontal crosshair can be used as a vertical one and vise versa
- Tweak the rgb colors of the crosshair, so we can adjust the overall color of a crosshair

[2022-08-25 21:42] Thyke7780 opened #209 "key correction"
It would be very nice if you make an arrangement that is visible only when we press the right mouse button, thanks.

[2022-08-27 18:46] Pedro-Beirao commented on #207
+1 to get this fixed

[2022-09-03 04:09] marcostux06 opened #210 "Doesn't work in Killing Floor 1?"
I am testing and it only works in windowed mode but not in full screen, could it be solved? greetings

[2022-09-04 14:03] shockpast commented on #47
## **Left 4 Dead 2.**
- [x] Works in Windowed and Windowed Fullscreen.
- [ ] Doesn't work in Fullscreen.

Fullscreen may not actually work on the most up-to-date Source Engine (such as CS:GO, L4D2 and TF2), this is only my theory.

[2022-09-06 17:18] GreenMan36 commented on #210
https://github.com/lacymorrow/crossover#what-worksdoesnt-work-compatability

Fullscreen doesn't work in most games, especially exclusive fullscreen. The application doesn't inject but runs on top of the game and so, doesn't work in games that have a proper fullscreen mode.

[2022-09-06 17:22] GreenMan36 commented on #200
I'm having the same issue, doesn't work in-game nor when on the windows Desktop.
Win11 x64 OS build below:
![image](https://user-images.githubusercontent.com/5887406/188699656-6c459b5d-ee0e-4a97-8f9f-18bb95e324d9.png)
![image](https://user-images.githubusercontent.com/5887406/188699876-4ccab1f3-efa1-4837-84a0-d7f4ff501fdc.png)
Using two monitors (1080p/1440p).
Let me know if you need more info.

[2022-09-11 07:06] Poetic-Abortionist opened #211 "Unhandled Promise Rejection"
I get the following error whenever I start the program otherwise it works normal.

Unhandled Promise Rejection
TypeError: Cannot read property 'setBadge' of undefined
    at Object.setBadge (C:/Users/%user%/AppData/Local/Programs/crossover/resources/app.asar/src/main/dock.js:5:35)
    at NsisUpdater.onUpdateDownloaded (C:/Users/%user%/AppData/Local/Programs/crossover/resources/app.asar/src/main/au

[2022-09-14 11:22] lacymorrow commented on #211
Duplicate #153
Please update CrossOver, this is fixed.

[2022-09-14 11:22] #211 closed

[2022-09-14 11:24] lacymorrow commented on #200
I have yet to test in Windows 11, I'll take a look soon.

[2022-09-14 11:27] lacymorrow commented on #208
The color changes can be done with SVG crosshairs, however I haven't had time to recreate all of the built-in crosshairs as SVGs.

I'm looking for someone to break up the Kenny.nl pack SVGs into individual SVGs, would be a good first issue!

https://www.kenney.nl/assets/crosshair-pack

[2022-09-14 11:28] lacymorrow commented on #206
CrossOver does not work with any apps in Fullscreen: #64

I'll reopen this if it has issues in windowed or borderless modes.

[2022-09-14 11:28] #206 closed

[2022-09-14 11:29] lacymorrow commented on #210
Thanks @GreenMan36 , Due to Electron limitations, CrossOver does not work with apps in fullscreen.

See #64

[2022-09-14 11:29] #210 closed

[2022-09-14 11:30] lacymorrow commented on #47
Crossover doesn't work with fullscreen apps, see #64.

Thanks for posting these results!

[2022-09-14 11:35] lacymorrow commented on #207
The fix was posted by @Yoyopizzacat, MacOS quarantines un-notarized apps and therefore the only route is to un-quarantine yourself using the above command.

I'm leaving this open as a reminder for others.

[2022-09-14 11:42] lacymorrow commented on #204
Still haven't figured out Windows 11 issues, some users are having issues even getting the app to run.

[2022-09-14 12:54] nomis51 commented on #204
Yeah, same here, haven't found any constants or anything for the issues. Win 11 seems to be tricky with a lot of stuff

[2022-09-14 14:21] Pedro-Beirao commented on #207
We can still run un-notarized apps without this command, we just need to right-click the app and click "open".
But with this app, the problem seems to be different.
![Screenshot 2022-09-14 at 15 18 39](https://user-images.githubusercontent.com/82064173/190180290-4f80b66c-e6bb-45b8-9252-566c274a4dad.jpg)

[2022-09-14 23:59] shittymacuser commented on #207
YOOOOO LETS GO IT WORKED I LOVE YOU <3

[2022-09-16 11:08] gueusette opened #212 "Doesn't save position on the second screen"
I have 2 screens on my computer.
I run games with my second screen, so i put the cross hair on the second screen.
But when i restart my computer, position of the cross hair is reseted to the first screen.

[2022-09-16 16:34] lacymorrow commented on #212
I'll take a look at this issue this weekend

[2022-09-16 17:16] lacymorrow commented on #207
This is interesting @Pedro-Beirao, I'll look into it further as to why it's saying the code has been modified.

[2022-09-26 09:23] DemanNL commented on #204
Nvidia had low performance issues as well in their Geforce Experience because of the new W11 update. Seems to be something to do with hardware acceleration or Hardware Accelerated GPU Scheduling. Maybe this helps looking in the correct direction.

[2022-09-26 09:28] DemanNL commented on #204
@nomis51 can you try disabling hardware acceleration and see if it fixes it?
Crossover Preferences -> System Settings -> Uncheck Enable hardware acceleration

[2022-09-26 21:37] nomis51 commented on #204
The lag (the time the crosshair takes to actually follow the mouse) is defnitely less noticable with hardware acceleration disabled. But, still getting some atrocious FPS drops, stuttering and freezes when I look around, "not slowly". Wouldn't say it's better in that regard with hardware acceleration off.

[2022-10-08 13:06] Flypaste opened #213 "Snapd version fully opaque when locked"
[here's what it looks like unlocked](https://cdn.discordapp.com/attachments/880035338855260180/1028290462215315527/unknown.png)
[here's locked](https://cdn.discordapp.com/attachments/880035338855260180/1028290507459264585/unknown.png)
[and locked in a game](https://cdn.discordapp.com/attachments/880035338855260180/1028290611142471731/unknown.png)

A couple other issues I'm having but are non-criti

[2022-10-09 10:50] Maddremor commented on #178
Alright, here is one I cobbled together. The lower dots are meant to help with bullet drop.

![crosshair_Mk01](https://user-images.githubusercontent.com/17386279/194752582-19e567c4-4907-4db5-93df-6f6cc5c77954.png)

[2022-10-09 16:52] Gadgetroch opened #214 "Follow mouse not works correctly"
Hi,

when i use "follow the mouse" i have this :
![Peek 09-10-2022 18-51](https://user-images.githubusercontent.com/46190566/194769440-6716e032-72a5-474a-b957-8a33a9fba2c7.gif)

It's seems the mouse walks away
I'm on debian.

Can you help ?

[2022-10-13 20:49] lacymorrow opened #215 "Switch UIHook, update Electron"
https://github.com/SnosMe/uiohook-napi

[2022-10-20 14:42] K3end0 opened #216 "Show/Hide crosshair only hides"
The keybind name suggests pressing ctrl+shift+alt+h will toggle hidden and revealed states, but it only hides and does not unhide the crosshair.

[2022-10-23 06:25] shittymacuser commented on #216
you gotta do ctrl+shift+alt+x itll toggle it on again

use your brain next time bruh

[2022-10-23 09:45] K3end0 commented on #216
Yes I know, because that's what I currently do. That does not change the fact the hide/show feature is currently half broken.

It's also not a perfect get-around to the broken feature however, as sometimes it opens with the menu screen.

[2022-10-31 20:51] lacymorrow commented on #214
Well that's not good. Unfortunately I won't be able to fix this for at least a few weeks, my apologies.

[2022-10-31 20:52] lacymorrow commented on #178
@Maddremor I love it, I'll include it into the next update hopefully next week.

[2022-10-31 21:00] lacymorrow commented on #213
Thanks for flagging these issues, I'm not sure if that's an Electron version or a Chromium bug. I won't be able to properly diagnose this for a few weeks.

A few things you could try:
- Turning off/on hardware acceleration in the Crossover settings
- Running Crossover with elevated privileges
- `git clone` this repo and `npm i && npm run start`

[2022-10-31 21:02] lacymorrow commented on #213
Looks like this is tracked here in #216 , could you try setting a different hotkey and see if the issue persists?

This is normal for CrossOver. Electron apps are currently unable to create Windows over fullscreen apps.

[2022-10-31 21:43] lacymorrow commented on #216
No need to use insults, this issue has been reported elsewhere in Arch Linux.
What OS are you using @K3end0?

If you have the time, I'm wondering if there is another program interfering with that keybind, could you try changing the keybind and seeing if you can hide/show CrossOver?

[2022-10-31 22:46] lacymorrow commented on #216
Thank you for testing that for me, I'll have to think about this. Do you know how to run crossover as an administrator? That may be worth testing.

I'm running windows 10 as well, so it's hard to figure out what the issue is

[2022-10-31 22:55] K3end0 commented on #216
Closed crossover and then ran it as administrator, sadly no change.

[2022-10-31 23:03] lacymorrow commented on #216
Dang.

[2022-11-02 17:41] masterma110 opened #218 "save some different settings for different windows of games"
The cross of some games may on the center. But some sames not on the center. So if we use this for different games, we need move the cross. But decide a right place of cross is difficult. So I hope we can have a faction of save the place of the cross which we need. Just two or three may be enough. Thanks.

[2022-11-02 20:15] lacymorrow commented on #218
Great idea, thanks for posting. I'll have some time soon to work on new features.

[2022-11-03 21:05] danielsawan opened #219 "Profiles that can be enabled with shortcuts"
Hello and great work on this piece of software!

I was wondering if adding different profiles (each one containing a crosshair configuration) is possible.
Profiles could be activated by process detection or by shortcut.

It actually improves a little this idea: https://github.com/lacymorrow/crossover/issues/218

[2022-11-03 21:07] danielsawan commented on #219
update : a default "desktop default" profile could also be a good idea (like hidden when not any games is running"

[2022-11-03 22:02] lacymorrow commented on #219
These are great ideas! My laptop broke so I'm coding on a 15 year old mac that struggles running Crossover. I'll have time for updates when I get a new machine'.

[2022-11-27 04:48] xzuyn opened #221 "[Arch: AMD] Toggling crosshair causes lag spike & resets ReLive's Instant Replay."
When you hide/unhide the crosshair the game will lock up for a split second (duration of the hide/unhide animation maybe?), and AMD's instant replay recording will get reset.

Disabling Freesync, and trying with hardware acceleration on and off doesn't change anything. Disabling instant replay still has lag.

Attached video recorded with OBS. You can't tell from the video really that there is a sp

[2022-11-28 05:24] lacymorrow commented on #221
I appreciate the digging you've done. It could be caused by the fade, the iohook native library I'm using on Arch, or possibly a conflicting keybind. Hopefully the former, I'll add an option to disable the fade.

[2022-11-28 05:25] lacymorrow opened #222 "Option to disable fade animation during hide/show crosshair"
#221

[2022-11-28 05:25] lacymorrow commented on #221
#222

[2022-11-28 05:32] xzuyn commented on #221
Also is arch short for architecture or is it Arch Linux? Cause I noticed you changed my previous issue to that so I labeled this one that way as well assuming that it was architecture (like nvidia gpu or amd gpu), but I am running Windows 10 Pro 22H2 (19045.2251) with an RX 480 8GB if it's meant to mean Linux.

[2022-11-28 05:36] lacymorrow commented on #221
Also, yep, arch is for architecture (intel vs amd vs m1/2), I see where the confusion came from.

[2022-11-28 05:37] xzuyn commented on #221
Alright, just wanted to make sure I wasn't providing misleading/incorrect information.